[2013-02-04 14:36] laurentkempe opened #1 "Diff margin display but context menu doesn't open on XML, XAML files"

[2013-02-06 23:01] #1 closed, assigned to nobody

[2013-03-28 23:53] laurentkempe opened #2 "Turn margin to grey brush"
As developer, when I modify source code and before I save the modification, I want to see the previous diff margins in grey, so that I know that there are not up to date

[2013-03-28 23:54] laurentkempe opened #3 "Add stage/stash hunk to contextual menu"

[2013-04-05 12:59] laurentkempe opened #4 "Fix exception in ActivityLog.xml"
875 ERROR System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. Parameter name: lineNumber at Microsoft.VisualStudio.Text.Implementation.BinaryStringRebuilder.GetLineFromLineNumber(Int32 lineNumber) at Microsoft.VisualStudio.Text.Implementation.TextSnapshot.GetLineFromLineNumber(Int32 lineNumber) at GitDiffMargin.ViewModel.DiffViewModel.UpdateDimensions() at

[2013-04-05 18:11] #4 closed, assigned to nobody

[2013-04-10 08:58] lanwin opened #5 "Upload extension to the Visual Studio Extension Galary"
Makes it so much simple to find and installs this extension.

[2013-05-04 06:57] #5 closed, assigned to nobody

[2013-05-04 07:28] laurentkempe opened #6 "Add license to the manifest of the Visual Studio"
Currently it display "This extension did not specify license terms in its manifest that are readable by Visual Studio."

[2013-05-04 10:10] laurentkempe opened #7 "Replace usage of git.exe from the path"

[2013-06-26 21:36] RandScullard opened #8 "Keyboard shortcuts for Previous Change / Next Change"
I have no idea if this is possible in the context of an extension like GitDiffMargin, but it would be awesome if there was a way to bind keyboard shortcuts to the Previous Change / Next Change commands.

[2013-06-29 18:59] RandScullard opened #9 "Margin doesn't appear for .html files"
The GitDiffMargin doesn't appear for .html files, unless you use Open With... and choose "Source Code (Text) Editor". It seems as if it isn't registering itself with the default editor, "HTML Editor".

[2013-07-03 21:30] swarkentin opened #10 "Support for VS2010 (or even VS2008)"
What would be involved in porting this over to an earlier version of Visual Studio, say VS2010?

Is it possible to add the left side margin, like you have done, in the absence of MEF support?

[2013-07-09 14:08] #7 closed, assigned to nobody

[2013-07-09 14:23] #6 closed, assigned to nobody

[2013-07-15 00:19] laurentkempe opened #13 "Loading a solution not under git raise exception"
System.ArgumentNullException: Value cannot be null. Parameter name: path at System.IO.Path.GetFullPathInternal(String path) at System.IO.Path.GetFullPath(String path) at GitDiffMargin.Git.GitCommands.IsGitRepository(String directory) at GitDiffMargin.DiffUpdateBackgroundParser..ctor(ITextBuffer textBuffer, TaskScheduler taskScheduler, ITextDocumentFactoryService textDocumentFactoryService, SVsServ

[2013-07-15 08:24] #13 closed, assigned to nobody

[2013-07-20 13:03] jbevain opened #14 "Exception on closing files when UnityVS and GitDiffMargin are both installed"
Salut Laurent!

A UnityVS customer reported a crash when both UnityVS and GitDiffMargin are installed.

A screenshot of the stacktrace:

![error](https://f.cloud.github.com/assets/79284/830242/e9a93b2e-f13c-11e2-9672-9635f102667d.png)
![source](https://f.cloud.github.com/assets/79284/830229/7bc29678-f13c-11e2-89e6-9f994dfe3ccc.png)

Do you have any idea what UnityVS could be doing to triggers this

[2013-09-02 08:25] gregseth opened #15 "Crash on line suppression"
Sometimes when deleting one or more lines in a source file, GitDiffMargin makes VisualStudio crash.

Here's the log:

[code]

[2013-10-17 17:02] laurentkempe opened #16 "Support for VS2013"

[2013-10-18 06:50] #14 closed, assigned to nobody

[2013-10-18 17:24] #15 closed, assigned to laurentkempe

[2013-10-19 10:51] #9 closed, assigned to nobody

[2013-10-19 10:51] #16 closed, assigned to nobody

[2013-10-21 14:41] laurentkempe opened #17 "Allow side by side working with Git Source Control Provider"
In #9 @RandScullard report

"I am using the Git Source Control Provider extension for Visual Studio, and it includes a version of GitDiffMargin. I would like to upgrade to your latest version of GitDiffMargin that includes this fix, but if both extensions are installed, I get an error. Is there a way to have these two extensions coexist, or somehow remove GitDiffMargin from Git Source Control Prov

[2013-11-09 09:52] #17 closed, assigned to nobody

[2013-11-11 10:07] laurentkempe opened #18 "Add More Information link to Github on VS Extensions and Updates"

[2013-11-14 15:32] laurentkempe opened #19 "Display diffs on VS 2013 Enhanced Scrollbar"

[2014-01-08 19:36] #2 closed, assigned to nobody

[2014-01-11 11:36] #18 closed, assigned to nobody

[2014-01-13 10:33] mwisnicki opened #21 "Does not work with VS2013 Microsoft Git Provider"
I'm using VS2013 with built-in git provider and can't see any markers on modified lines.

[2014-01-20 20:28] ricksladkey opened #22 "FileSystemWatcher + CreateBlob = perpetually dirty loop"
With v1.3, the use of CreateBlob triggers changes to the repository that the FileSystemWatcher treats as dirty, causing diffs to be perpetually reparsed.

[2014-01-20 20:31] ricksladkey opened #23 "core.autocrlf is a string not a boolean"
With v1.3, crashes occur if the the `core.autocrlf` configuration property has a value of `input`.  This is because `core.autocrlf` is not a boolean.

[2014-01-20 20:53] ricksladkey opened #24 "CRLF detection fails for files checked in with CRLF line endings"
With v1.3 if:
- The checked in file in the repository actually contains CRLF line endings _and_
- The repository has `core.autocrlf=true`

then GitDiffMargin will show the entire file as a having been changed.  This happens whether the file in the repository is "denormalized" (has the `text` attribute) or whether it is by design (the file has the `-text` attribute).

In git, if the `.gitattributes

[2014-01-20 21:04] ricksladkey opened #25 "Differences not shown for files without BOM (byte order mark) preamble"
With v1.3, if the file encoding does not include a UTF BOM (byte order mark) preamble, no differences will be shown.

[2014-01-27 20:29] #22 closed, assigned to nobody

[2014-01-27 20:29] #23 closed, assigned to nobody

[2014-01-27 20:42] laurentkempe opened #26 "Update to latest version of libgit2sharp"

[2014-03-24 19:09] #26 closed, assigned to nobody

[2014-03-24 19:09] #25 closed, assigned to nobody

[2014-05-01 07:55] laurentkempe opened #27 "Option to use VS Diff view or external diff"

[2014-05-16 07:48] laurentkempe opened #28 "Create Chocolatey nuget packages"
As done here https://github.com/Iristyle/ChocolateyPackages/tree/master/GitDiffMargin.vs2012

[2014-07-31 10:19] sigod opened #29 "Add options for highlighting untracked lines"
Like in [GitGutter](https://github.com/jisaacks/GitGutter#untracked-files) (plugin for Sublime Text):
![screenshot 2014-07-31 13 06 02](https://cloud.githubusercontent.com/assets/1175750/3762860/d7852a0c-189b-11e4-8e40-251a3088b3c5.png)

It's really helpful to see which files ain't tracked.

[2014-08-04 08:27] laurentkempe opened #30 "Crash while deleting lines which are already changed"
At the end of a file, and while deleting the file end is shorter

1147 ERROR System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. Parameter name: lineNumber at Microsoft.VisualStudio.Text.Implementation.BinaryStringRebuilder.GetLineFromLineNumber(Int32 lineNumber) at Microsoft.VisualStudio.Text.Implementation.TextSnapshot.GetLineFromLineNumber(Int32 lineNumb

[2014-08-09 09:10] laurentkempe opened #31 "Split to two packages for visualstudiogallery"
One for VS2013 and one for VS2012

[2014-08-09 09:17] #10 closed, assigned to nobody

[2014-08-21 17:59] laurentkempe opened #32 "Adapt the way to read the external diff tool configuration in .gitconfig"
**With Semantic merge**

[diff]
        tool = semanticdiff

[difftool "semanticdiff"]
        cmd = C:/Users/Laurent/AppData/Local/PlasticSCM4/semanticmerge/semanticmergetool.exe -s \"$LOCAL\" -d \"$REMOTE\"

[difftool]
        prompt = false

**With p4merge**

[difftool "p4merge"]
    path = C:/Program Files/Perforce/p4merge.exe
    cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$LOCAL\" \"$R

[2014-08-28 21:22] #24 closed, assigned to laurentkempe

[2014-08-28 21:22] #30 closed, assigned to laurentkempe

[2014-08-28 21:22] #32 closed, assigned to laurentkempe

[2014-08-28 21:28] #19 closed, assigned to laurentkempe

[2014-08-28 21:28] #21 closed, assigned to laurentkempe

[2014-08-28 22:34] laurentkempe opened #34 "Update broken image in vsix"
And also link to release notes in the about box

[2014-08-29 08:46] bpasero opened #35 "Add an option to not highlight changes on the index"
It would be great if git diff margin would ignore changes that I added to the index. I often like to stage my work that I am confident of to the index and then I would like to not see those changes anymore in the decorations.

This should probably be configurable in an option.

[2014-08-30 01:02] IndigoHealth opened #37 "Crashes VS 2013"
Upgraded Git Diff Margin 2013 to version 2.0.0.0 via VS2013 "Extensions and Updates" (a.k.a. NuGet).  Now, VS crashes after about 20 seconds.

UPDATE: I uninstalled Git Diff Margin, and VS is still crashing.  Hmmm... Ok, so unless something got left behind (or broken) by the previous installation, it looks like Git Diff Margin is off the hook for this problem.  Or not... the problem started happen

[2014-09-01 18:48] #37 closed, assigned to nobody

[2014-09-02 10:45] strandloper opened #38 "Show Difference fails with DiffMerge for file names with spaces"
I have DiffMerge configured as my diff tool as follows.

[code]

I can use **Compare with Unmodified...** in the VS2013 Changes window and the diff opens in DiffMerge as expected. But when I use GitDiffMargin's **Show Difference** for the same file, which happens to have spaces in the path, I get DiffMerge errors like this.

[code]

The full path to the file is

[code]

so it appears that the path

[2014-09-02 17:58] DoCode opened #39 "'Show Difference' doesn't show anything"
git config:

[code]

[2014-09-02 20:34] #38 closed, assigned to nobody

[2014-09-02 20:36] #39 closed, assigned to nobody

[2014-09-04 09:02] laurentkempe opened #40 "submodules issue"
System.ArgumentException: The directory name C:\dev\SqorRest.git\modules\packages.git is invalid.

This is a repo that has submodules.   The submodules are located under "packages".  Under packages there are four submodules.  The directory ".git" does not exist under "packages" and I do not know why the extension is trying to look for such a folder.  Let me know if I can provide any further info.

[2014-09-04 21:16] #31 closed, assigned to laurentkempe

[2014-09-04 21:36] sharwell opened #44 "Incorrect "removed" glyph positioning"
If the line _following_ a CodeLens line is removed, the "removed" glyph is positioned incorrectly (note to self to fix later)

[2014-09-05 09:40] stinos opened #45 "Diff indicators displayed twice"
See screenshot: just updated to 2.0 and there are two indicators. Not sure this is a bug or I need to disable some setting?

![capture](https://cloud.githubusercontent.com/assets/1902997/4162878/70a85398-34e0-11e4-8d1f-a4c044632544.JPG)

[2014-09-05 11:03] #45 closed, assigned to nobody

[2014-09-05 12:24] sharwell opened #46 "Performance improvements"
I need to merge some of the performance improvements from this branch to correct noticeable editor delays, especially in large files.

https://github.com/yysun/Git-Source-Control-Provider/pull/94

[2014-09-05 17:43] #46 closed, assigned to nobody

[2014-09-10 05:57] #44 closed, assigned to nobody

[2014-09-11 19:43] #29 closed, assigned to nobody

[2014-09-11 19:51] #40 closed, assigned to nobody

[2014-09-16 21:07] #8 closed, assigned to nobody

[2014-09-18 16:19] #27 closed, assigned to nobody

[2014-09-20 08:50] #34 closed, assigned to nobody

[2014-09-23 20:01] laurentkempe opened #69 "Make old chocolatey packages depend to the new one"
Suggestion from @gep13

"What I would suggest is this...

You push one more version of the older package, which removes everything within that package, i.e. the chocolateyInstall.ps1 file, etc. If you wanted, you could leave the chocolateyInstall.ps1 file there, but only have a message about this old package being deprecated. And update the *.nuspec file to take a dependency on the new version of

[2014-09-23 20:08] #28 closed, assigned to laurentkempe

[2014-11-29 20:36] xperiandri opened #70 "Visual Studio 2015 errors"
| 2336 | ERROR | System.ArgumentException: The path is not of a legal form. at System.IO.Path.NormalizePath(String path, Boolean fullCheck, Int32 maxPathLength, Boolean expandShortPaths) at System.IO.Path.GetFullPathInternal(String path) at System.IO.Path.GetFullPath(String path) at GitDiffMargin.DiffMarginFactoryBase.TryGetMarginCore(IWpfTextViewHost textViewHost) at GitDiffMargin.EditorDiffMargi

[2014-12-10 10:57] #70 closed, assigned to nobody

[2015-03-31 14:40] dg9ngf opened #71 "Move diff bar to the right of the line numbers"
The git Source Control Provider extension shows the diff bar right of the document changes bar, with is right of line numbers. Can GitDiffMargin do the same? I have line numbers enabled everywhere by default because it helps a lot when debugging or reading compile errors or other messages. Now I have two colour bars far away from each other. It would be nice if they were close to each other, prefe

[2015-03-31 14:58] laurentkempe commented on #71
Would you please add a screenshot so that I can see it clearly, thanks!

[2015-03-31 15:01] dg9ngf commented on #71
![gitdiffbar](https://cloud.githubusercontent.com/assets/868315/6921832/7ddd4e1c-d7c7-11e4-9c8e-695f55fc253a.PNG)

[2015-03-31 15:01] laurentkempe commented on #71
Thanks @dg9ngf

[2015-03-31 15:02] dg9ngf commented on #71
Here's what it looks like in VS 2010 with GitSCC:

![gitdiffbar2010](https://cloud.githubusercontent.com/assets/868315/6921879/b9d23bc6-d7c7-11e4-9c74-4d5d4f43fdfe.PNG)

[2015-04-09 10:05] dg9ngf commented on #71
I found the difference in the source code and have created a pull request: https://github.com/laurentkempe/GitDiffMargin/pull/72
It works here and produces the same diff bar order as in the other extension.

[2015-04-09 13:31] laurentkempe commented on #71
:+1: Even better a PR

[2015-04-10 07:09] #71 closed

[2015-04-17 06:50] laurentkempe opened #73 "Automate AppVeyor build to deploy release package to gallery"

[2015-04-17 06:52] laurentkempe opened #74 "Automate AppVeyor build to create vsix"
See https://github.com/madskristensen/WebEssentials2015/blob/master/appveyor.yml

[2015-05-24 15:41] djkrose opened #75 "Add option to ONLY show indicators left or on scroll bar"
I would like to have the indicators only on the left side, not on the scroll bar. Other might want the opposite. Can you add an option to select where the indicators should show up?

[2015-05-24 16:13] sharwell commented on #75
I think the easiest way to implement this is two check boxes that are each enabled by default:

1. Show changes in the indicator margin
2. Show changes in the scroll bar

[2015-07-07 08:48] laurentkempe opened #76 "Make scroll Bars in bar mode diffs clickable to scroll to the position"

[2015-07-14 17:02] RandScullard opened #77 "Add option to ignore whitespace changes"
I would love to be able to toggle whitespace sensitivity on and off in GitDiffMargin. (Equivalent to passing the --ignore-space-change option to git diff.)

When I have changed the indentation of a large block of code, I usually don't want to see the entire block highlighted, just the lines I've materially changed.

[2015-07-24 15:29] Germs2004 opened #78 "Exception when opening Settings page"
When I open Git Extensions and go to the Settings page, I immediately get the following error.  I tried uninstalling & reinstalling, and I tried deleting the settings file in AppData, but I still get the error every time.  I think the problem began right after I installed Visual Studio 2015 Community on the computer.

GitExtensions.exe [2.48.05]

The path is not of a legal form.

   at System.IO.P

[2015-07-24 15:32] Germs2004 commented on #78
Sorry, wrong project.  This was meant for the Git Extensions project.

[2015-07-24 15:32] #78 closed

[2015-08-03 09:47] drewnoakes opened #79 "VS2015 RTM"
Does this support VS2015 RTM? If so, perhaps the docs could be updated. Also, the copyright year is 2014 in the installer.

[2015-08-06 08:29] laurentkempe commented on #79
Not yet, but I will start to adapt it soon! I first need to get VS2015 on my machine

[2015-08-06 13:58] sharwell commented on #79
@laurentkempe I've been using it in 2015 without problems for some time now.

[2015-08-07 08:17] laurentkempe commented on #79
@sharwell Do you mean that it install correctly with 2015 RTM?

[2015-08-07 08:45] drewnoakes commented on #79
Seems to work for me as well. Might just need to update the docs.

On Fri, 7 Aug 2015 09:17 Laurent Kempé <notifications@github.com> wrote:

[2015-08-07 09:01] laurentkempe commented on #79
@drewnoakes It should work, I am just installing VS1015 right now to confirm that it works

[2015-08-07 09:14] laurentkempe commented on #79
@drewnoakes @sharwell ok it installs correctly and works correctly in VS2015 RTM!

- [ ] Update description
- [ ] Update copyright
- [ ] Update visualstudiogallery description

[2015-08-07 09:22] #79 closed

[2015-08-07 09:23] laurentkempe commented on #79
Thanks @drewnoakes for the feedback!

[2015-08-07 11:36] drewnoakes commented on #79
Great. You're welcome. Thanks for the extension!

On Fri, 7 Aug 2015 10:23 Laurent Kempé <notifications@github.com> wrote:

[2015-08-07 19:15] sharwell commented on #76
I see two problems with this:

1. The diffs are very small and would be hard to reliably click.
2. The other scrollbar overlays do not behave this way.

I recommend not implementing this feature, but instead describe the steps to enable this behavior for the entire scroll bar:

1. Right click the scroll bar &rarr; **Scroll bar options...**
2. Configure the following options:

![image](https://clou

[2015-08-07 21:21] laurentkempe commented on #76
I thought of this when I changed from map mode to bar mode, because map mode use too much width when I am on my notebook monitor. It is also a reaction to the way ReSharper is working with the bar mode which allow the user to click on the indicator to scroll to that position, so some overly work that way.
But it is true that the diff can be small, so something to investigate and try but I generall

[2015-08-07 21:40] sharwell commented on #76
@laurentkempe Map mode is the same size as bar mode when you set **Source overview** to **Off**. :+1:

[2015-08-07 21:56] laurentkempe commented on #76
@sharwell Good tip I didn't knew about that! So your recommendation make even more sense!

[2015-08-07 21:56] #76 closed

[2015-08-07 21:59] sharwell commented on #76
@laurentkempe Well I *tried* to point it out by highlighting the option in the image. :laughing:

[2015-08-07 22:00] laurentkempe commented on #76
@sharwell Nice try but I missed it :-)

[2015-08-10 18:29] user1568891 opened #81 "SQL Server Object Explorer issue"
Hi,

Using Visual Studio 2015

I get an exception when opening a sql table definition from Visual Studio > SQL Server Object Explorer.

Here is the entry from the ActivityLog.xml:

<type>Error</type>
    <source>Editor or Editor Extension</source>
    <description>
System.ArgumentException: The path is not of a legal form.&#x000D;&#x000A;   at System.IO.Path.NormalizePath(String path, Boolean full

[2015-08-21 20:46] mmatrosov opened #82 "The whole file is highlighted as modified"
If a file has any changes, the whole file is highlighted as modified. The bug is reproduced with all other extensions disabled.

Visual C++ project, C++ file, Visual Studio 2015, Windows 10 x64 (same was under Windows 7 x64), GitDiffMargin v3.1.0.0.

![git diff margin bug](https://cloud.githubusercontent.com/assets/3617951/9418684/7b9ddace-485e-11e5-8b28-3d90c860819a.png)

[2015-08-21 21:30] laurentkempe commented on #81
@user1568891 ok I can reproduce it here and will have a look!

[2015-08-22 05:09] sharwell commented on #82
I've never seen anything like this. My guess is there's another extension which is changing the line endings of the file behind the scenes.

Off the top of my head I'm not quite sure how to debug this. Any ideas @laurentkempe?

[2015-08-22 05:11] sharwell commented on #82
Actually, another possibility is the path to the file (including the file name) within the project file in Visual Studio differ from the file on disk by case only.

:question: Try restarting Visual Studio and opening this file *without* opening the solution (just open the file in a fresh copy of Visual Studio. Does the problem still occur?

[2015-08-22 07:45] laurentkempe commented on #82
I was also thinking of the line endings. I currently do not have the C++ installed to try reproduce it, will try to install it to have a look

[2015-08-22 09:42] mmatrosov commented on #82
Ok, that's what I was able to find out:
1. There is not interference with any other extensions: I disabled all of them
2. There is no difference whether I open the file as a part of a solution or a as an independent file
3. There was no such bug in Visual Studio 2013
4. **If I change line endings from Windows style to Unix style, the bug disappears**

So it seems like your guess was right in the s

[2015-08-28 15:06] user1568891 opened #83 "Error: "The supplied SnapshotPoint is on an incorrect snapshot""
I got this error today while editing a .cs file in Visual Studio 2015. I'll post more if I can figure out what caused it.

System.ArgumentException: The supplied SnapshotPoint is on an incorrect snapshot.&#x000D;&#x000A;Parameter name: bufferPosition&#x000D;&#x000A;   at Microsoft.VisualStudio.Text.Editor.Implementation.DefaultScrollMap.TranslatePosition(SnapshotPoint bufferPosition)&#x000D;&#x000

[2015-10-30 11:00] mattwarren commented on #82
I've had exactly the same problem, I only see the real diffs if I change the line ending from Windows to Unix style as @mmatrosov points out (File -> Advanced Save Options...).

The only difference I have is that I see this with a .cs project, not a .cpp one.

But is there a way to make GitDiffMargin work without doing this?

[2015-10-31 09:05] laurentkempe commented on #82
@mattwarren Could it be your .gitattributes that set the file to Unix?

[2015-10-31 15:12] mmatrosov commented on #82
@laurentkempe Cool. As stated [here](https://help.github.com/articles/dealing-with-line-endings/), if I add `.gitattributes` file with the line `* text=auto` _or_ execute a command `git config --global core.autocrlf true`, the issue is gone. Thank you for the hint!

[2015-11-06 11:34] PavelAgejkin commented on #77
+1

[2015-11-11 06:49] liyu34 opened #84 "It seems that this great tool can not show Chinese correctly"
If I chose the "show Difference", the Chinese words turn to messy code,like this

//��ͷ��Ϣ��ʾ����

and it should be the following words.

//表头信息显示居左

[2015-11-11 08:10] laurentkempe commented on #84
@liyu34 Thanks for taking the time to report the problem.

Could you please attach a screenshot of the problem so that I am sure where the problem is!

[2015-11-11 08:36] liyu34 commented on #84
![bugs](https://cloud.githubusercontent.com/assets/12342277/11087070/fce395ce-8891-11e5-8bda-f5d46e71a39d.png)

[2015-11-11 14:51] laurentkempe commented on #84
Thanks @liyu34 for the screenshot, but this is a bug in Visual Studio Diff View nothing to do with Git Diff Margin!

[2015-11-11 14:51] #84 closed

[2015-12-19 16:50] JohanLarsson opened #85 "Enabling GitDiffMargin kills Git Source Control Provider"
Hello,
Not sure who's ~fault~ it is but they don't seem to get along.
After installing margin I get:
![screenie](http://i.imgur.com/huMw1ZX.png)

If I touch anything using [Git Source Control Provider](https://visualstudiogallery.msdn.microsoft.com/51e11ccc-6334-4873-912d-bf5025eb115d)

[2015-12-21 10:24] laurentkempe commented on #85
@JohanLarsson Thanks for the report which versions of both tools are you using?

[2015-12-21 10:55] JohanLarsson commented on #85
Git Source Control Provider 1.4.2
Git Diff Margin 3.1.0.0
Git Extensions 2.48.05 <- not sure if this has anything to do with anything.
Visual Studio 2015

[2015-12-22 22:23] laurentkempe commented on #85
It is weird because in the release notes of Git Source Control Provider 1.4 it is written that they "Removed Git Diff Margin" so any possible interactions between the two shouldn't exists

[2016-01-07 22:50] zentby opened #86 "Add a button on popup to allow rollback multiple sections at once"
![image](https://cloud.githubusercontent.com/assets/4077259/12185062/d4f896d8-b5fd-11e5-8d96-f79c69f49a6c.png)

It would make rollback selected lines easier.

[2016-01-07 23:13] ricksladkey opened #87 "Memory corruption in underlying libgit2 native DLL"
I've been getting crashes in Visual Studio 2015 and ignoring them.  Finally, I debugged into one and found this call stack:

So the git2 DLL is corrupting the heap.

This might be a good reason to upgrade to the latest libgit2 unmanaged DLL:

https://github.com/libgit2/libgit2/releases

The version of libgit2 distributed with the latest version of GitDiffMargin in the gallery appears to be:

File

[2016-01-08 09:39] laurentkempe commented on #87
@ricksladkey Thanks I will see to update it in the next release!

[2016-01-08 09:40] laurentkempe commented on #86
Cool idea! thanks @zentby

[2016-01-08 09:42] laurentkempe opened #88 "Add support of git worktree"
Currently when you do a git worktree add and open your solution from the worktree Git Diff Margin doesn't realize that the solution is versionned in a Git repo

[2016-03-19 10:51] laurentkempe commented on #87
@ricksladkey This should be fixed with #89 coming in the next release

[2016-03-19 17:11] laurentkempe commented on #85
@JohanLarsson I will update LibGit2Sharp to the latest version in the next release of Git Diff Margin, I hope it will fix this!

[2016-03-19 17:18] #85 closed

[2016-03-19 17:18] #87 closed

[2016-03-19 17:39] JohanLarsson commented on #85
Nice, thanks!

[2016-03-19 18:21] laurentkempe commented on #81
@user1568891 this will be fixed in the next release!

[2016-03-19 18:24] #81 closed

[2016-03-19 21:32] #82 closed

[2016-03-19 21:33] laurentkempe commented on #83
@user1568891 Any way to reproduce it?

[2016-03-22 16:42] dezdechado commented on #87
Nope, the bug is still there :(. I had to rewrite the plugin with using of git.exe instead of libgit2. Have you considered such replacement? At list as an option? It would solve not only that bug, by the way. E.g. worktrees, as any futher git's features, would work out of the box. To be honest, I don't see any reason to use libgit2 at all. Git's binary is "must have" anyway IMHO.

[2016-03-22 17:04] ricksladkey commented on #87
For my part, I got one crash with the new version so far, which restarted Visual Studio before I could get a stack trace.  However, it did have the same symptom, which was that running a git command from a command prompt (like git push, git commit --amend) was what triggered Visual Studio to crash.  So my preliminary assessment is that the crash is still present with the new version.  Will keep te

[2016-03-22 21:28] laurentkempe commented on #87
@dezdechado I was using git.exe at the beginning of the project! The problem is that I couldn't ensure that git.exe was on the machine of the user

[2016-03-22 21:30] laurentkempe commented on #87
@ricksladkey Didn't get any crash and working with it since last Sunday. Did all sort of things in cmd line; git-imerge, rebase... from sourcetree also and never got a crash till now.

Would be great if you would find a way to reproduce the problem!

[2016-03-23 07:38] dezdechado commented on #87
@laurentkempe

I understand that. The plugin could provide both solutions and let user decide wich one to use (As TortoiseGit does. It has switch "Use libgit2: true/false").
As for the bug, it's hard to find a way to reproduce it reliably (I think). It crashs pretty randomly. Hints: I use Microsoft Git Provider and the repository I'm working on is quite big (>3Gb). I can try to take a look, but it

[2016-03-23 17:37] laurentkempe commented on #87
@dezdechado I also use Microsoft Git Provider but ok the repository I deal with are smaller!

I will think about the idea of TortoiseGit to let the user choose!

[2016-03-23 17:39] laurentkempe opened #91 "As TortoiseGit use libgit2 true/false"
Followup from the proposal of @dezdechado on #87

[2016-03-24 16:56] dezdechado commented on #87
Great! Thank you in advance!
By the way, I could try to do  it if you are interested in.

[2016-03-24 17:49] laurentkempe commented on #87
@dezdechado sure submit a PR

[2016-03-24 20:37] ricksladkey commented on #87
Another crash, this time I got a stack trace.

 	ntdll.dll!_RtlpReportHeapFailure@4()	Unknown
 	ntdll.dll!_RtlpLogHeapFailure@24()	Unknown
 	ntdll.dll!_RtlFreeHeap@12()	Unknown
 	kernel32.dll!_HeapFree@12()	Unknown
 	git2-785d8c4.dll!23fb343d()	Unknown
 	[Frames below may be incorrect and/or missing, no symbols loaded for git2-785d8c4.dll]

	git2-785d8c4.dll	C:\Users\jrs\AppData\Local\Microsof

[2016-03-26 17:02] Mathetis opened #92 "Crash in git2-785d8c4.dll seen in version 3.1.1.0"
Randomly crashes. Seems to happen both in and out of text editor. No symbols, but the trace repeatedly ends up in this dll.

Microsoft Visual Studio 2015 Pro (14.0.24720.00 Update 1) with Visual Assist. GitTools is also installed.

[2016-03-27 02:05] ricksladkey commented on #92
#87

[2016-03-30 08:37] MartinL0815 opened #93 "With 3.1.1 use of memory of VS2013 increased until crashing - disabling helps"
After the last update to 3.1.1 via the VS2013 extension update mechanism, I have the issue, that while working the memory consumption of VS2013 increases that much, that ...

1. in 5 Minutes 1GB is needed - instead of 500 to 800MB
2. in 10 Minutes 1.5GB
3. in 20 Minutes 2 GB
4. … VS2013 mostly crashes needing more than 2.8GB after becomming unresponsive

Disabling the extension stops this massive

[2016-03-30 13:20] laurentkempe commented on #93
@MartinL0815 Thanks for the report I will have a look asap

[2016-04-04 06:33] laurentkempe commented on #93
@MartinL0815 I can't reproduce that with VS2015! Please in the meantime you can [downgrade to 3.1.0](https://github.com/laurentkempe/GitDiffMargin/releases/tag/v3.1.0)

[2016-04-04 06:38] laurentkempe commented on #92
I will again update to the latest version of libgit2sharp to see if it improves the situation}

[2016-04-04 07:29] MartinL0815 commented on #93
Hi Laurent,

I had the problem in VS2013.

I'll update to 3.1.0 and try out, if the memory consumption is still so high!

Cheers,

Martin Lemburg
Berlin / Germany

martin.lemburg@gmx.net
http://about.me/Martin0815

------- Original message -------

[2016-04-04 11:46] MartinL0815 commented on #93
Hi Laurent,

I took a look at the 3.1.1.0 release:

Fix SQL Server Object Explorer issue #81
Fix Enabling GitDiffMargin kills Git Source Control Provider #85
Fix Memory corruption in underlying libgit2 native DLL #87

There haven't been much changes, that could cause memory issus, right?

So some questions, that came to my mind:
* Exchanging the underlying libraries (#87) helped for VS2015, am I r

[2016-04-04 15:04] laurentkempe commented on #93
I updated libgit2 native DLL which might be the cause of the issue!

Doesn't seem that it helped. I don't have the issue here but some users reported crash issues.

I don't know, but it looks like

As far as I know no

No

[2016-04-15 14:07] laurentkempe commented on #93
@MartinL0815 I can see that now too here! It seems that it is due to the update of libgit2sharp and my usage of Diff because there are fixing lots of things in that area in their last commits! I reverted to 3.1.0 and do not see that problem at the moment anymore. I will update GitDiffMargin as soon as the new libgit2sharp is released

[2016-04-15 22:35] laurentkempe commented on #93
@MartinL0815 I just created a temporary pre-release [here](https://github.com/laurentkempe/GitDiffMargin/releases/tag/untagged-606149f93bd0bc8977db) of 3.1.2 which included latest libgit2sharp.
Would it be possible for you to install it, try it and give feedback please, thanks!

[2016-04-16 10:18] MartinL0815 commented on #93
I'll check it out at Monday!

[2016-04-16 10:19] laurentkempe commented on #93
@MartinL0815 Great thanks a lot! Have a nice weekend

[2016-04-19 11:02] laurentkempe commented on #93
@MartinL0815 Any news?

[2016-04-19 11:12] MartinL0815 commented on #93
Sorry @laurentkempe!

Was too busy, since my office workstation got screwed "a bit" after an office software deployment!

I forgot to ask … where do I get the 3.1.2 preview-release from to test with?

[2016-04-19 13:37] laurentkempe commented on #93
[Here](https://github.com/laurentkempe/GitDiffMargin/releases/tag/untagged-606149f93bd0bc8977db) as stated in the [previous comment](https://github.com/laurentkempe/GitDiffMargin/issues/93#issuecomment-210671238) It is a build especially for you :smiley:

[2016-04-19 13:59] MartinL0815 commented on #93
Sorry - 404
![image](https://cloud.githubusercontent.com/assets/525700/14641655/a6dcf452-0647-11e6-9c27-123c3c723350.png) - so not "here"! ;)

[2016-04-19 14:00] MartinL0815 commented on #93
Since I need a kind of high-contrast-mode, I use extensions to enhance the contrast of web pages. The "here" link is difficult to recognize, so I have overseen it!
And now ... 404.

[2016-04-19 14:02] laurentkempe commented on #93
Ok you didn't had access to Draft release, now you should https://github.com/laurentkempe/GitDiffMargin/releases/tag/v3.1.2

[2016-04-20 11:54] MartinL0815 commented on #93
So - after working ca. a day with the pre-release 3.1.2, I'd say: everything is fine!

[2016-04-20 11:57] laurentkempe commented on #93
Thanks a lot @MartinL0815 for reporting this and for the time to test the pre-release of 3.1.2, very much appreciated :+1:

I will get back to the LibGit2Sharp with this feedback. cc @ethomson

[2016-04-20 11:59] ethomson commented on #93
Great news.  Sorry for the inconvenience!

[2016-04-20 12:02] laurentkempe commented on #93
@ethomson Yep that's a great news, now the question is when will we get a new release of LibGit2Sharp as v0.22 is buggy?

[2016-04-22 23:29] xperiandri opened #94 "Visual Studio 15 support"

[2016-04-23 10:56] laurentkempe commented on #94
I do not use it at the moment so this will come later or you could add it as a pull request!

[2016-04-23 12:33] xperiandri commented on #94
OK
I installed it by modifying manifest. If I encounter any issues I will post them otherwise it will be safe to just modify a manifest.

[2016-04-23 12:35] laurentkempe commented on #94
At the moment, it should be enough, except if any API used changed which I don't think is the case but you will see!

[2016-04-25 07:58] MartinL0815 opened #95 "Support for other source files, like e.g. .rc files"
Hi,

we have some other files, edited in other source code editors Visual Studio provides.
And I start to miss GitDiffMargin in those editors, like in the source editor used to edit resources files.

Is there a chance to support those editor types, too?

Cheers,

Martin

[2016-04-25 07:59] laurentkempe commented on #95
@MartinL0815 could you please list all of the one you are missing?

[2016-04-28 08:33] kuechlerm opened #96 "Visual Studio crashes"
As of today (version 3.1.1.0) this extention causes Visual Studio 2015 to crash if I open a project that uses git.
Debugging VS shows me this error message:

[code]

Disabling the extention stops the crashing, but I much rather would enable it ;)

[2016-04-28 08:54] laurentkempe commented on #96
@kuechlerm Thanks for the report! Could you try to [install this version](https://github.com/laurentkempe/GitDiffMargin/releases/tag/v3.1.2) and let me know if you still have issues!

We have several other users reporting crashes due to LibGit2Sharp and Libgit2  #93 #92 #87

[2016-04-28 09:02] kuechlerm commented on #96
That version is working :+1:

[2016-04-28 11:01] drewnoakes commented on #96
I also just experienced a crash. Actually Windows Defender flagged `git2-785d8c4.dll` as containing `Trojan:Win32/Varpes.N!cl` at the same time that VS crashed.

[2016-04-28 11:38] martinskuta commented on #96
Yeah as a workaround you can exclude devnev.exe from Windows devender, until libgit2 and windows defender get it right.

[2016-04-28 11:39] laurentkempe commented on #96
@drewnoakes Two of my colleagues are just reporting to me that they had the same issue with the update of Windows Defender signature of today! I have Visual Studio folder excluded from Windows Defender so I didn't get it.

[2016-04-28 12:28] PavelAgejkin commented on #96
thanks, v3.1.2 solved crashing issue.
please update visualstudiogallery ASAP because it took me 4 hours to find cause of crashing VS.
I'm sure I'm not alone with this issue.

Thanks for nice extension and have a nice day

[2016-04-28 12:30] shiftkey commented on #96
@drewnoakes @laurentkempe what is the version of the Antispyware definitions you're running that are triggering this?

[2016-04-28 12:33] laurentkempe commented on #96
@glconti Could you send a screenshot of the version here please!

I have the following but just to be sure there are the same

![image](https://cloud.githubusercontent.com/assets/272612/14885852/1804951a-0d4e-11e6-8bda-a17435c66da3.png)

[2016-04-28 12:34] glconti commented on #96
@laurentkempe here there is
![image](https://cloud.githubusercontent.com/assets/13535297/14885901/4e90b686-0d4e-11e6-977a-73c539cee6f8.png)

[2016-04-28 12:34] laurentkempe commented on #96
@PavelAgejkin I don't want to update at the moment because it uses a not released version of LibGit2Sharp!

[2016-04-28 12:40] PavelAgejkin commented on #96
@shiftkey same version as above 1.219.115.0

@laurentkempe OK.
Can you make extension just not to load, but not to crash VS?

[2016-04-28 12:45] laurentkempe commented on #96
@PavelAgejkin I am not sure I get that!

[2016-04-28 12:57] PavelAgejkin commented on #96
@laurentkempe
Now if Your extension crashes, it crashes VS ( as **DllNotFoundException** bubbles to VS).
I offer to catch that **DllNotFoundException** and to handle it (e.g. disable extension or to show alert or to print exception message to Output window)

[2016-04-28 13:05] laurentkempe commented on #96
@PavelAgejkin I see. So and so at the moment, I think the best is to either remove devenv.exe from Windows defender scan or to uninstall the extension.

But for the next released version I will think about something like your proposal!

[2016-04-28 15:46] drewnoakes commented on #96
@laurentkempe I have the same defender definitions as you.

+1 for fixing the extension on the gallery such that it doesn't crash VS at boot. That's a very bad experience, no matter the reason. Any fix will do. Even just display a dialog that explains the potential for the problem and a workaround before crashing.

[2016-04-28 15:51] laurentkempe commented on #96
@PavelAgejkin @drewnoakes So the crash you have is with 3.1.1 and is linked with Windows Defender?
If you can confirm that 3.1.2 avoid the problem then I will update it on the gallery!

[2016-04-28 15:55] drewnoakes commented on #96
3.1.2 fixed the issue for me, thanks.

[2016-04-28 16:52] PavelAgejkin commented on #96
@laurentkempe yes, Windows Defender removes DLL and VS cant start, becase DLL is not found.
3.1.2 resolved issue
Event viewer shows this error:

Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.DllNotFoundException
   at LibGit2Sharp.Core.NativeMethods.git_libgit2_init()
   at LibGit2Sharp.Core.NativeMethods+LibraryLifetime

[2016-04-28 20:12] laurentkempe commented on #96
@drewnoakes @PavelA85 That's it I have uploaded a fix version on Visual Studio Gallery!

[2016-04-28 20:13] laurentkempe commented on #96
Fixed with 3.1.2

[2016-04-28 20:13] #96 closed

[2016-04-28 20:13] laurentkempe commented on #93
Fixed with 3.1.2

[2016-04-28 20:13] #93 closed

[2016-04-28 20:13] laurentkempe commented on #92
Fixed with 3.1.2

[2016-04-28 20:13] #92 closed

[2016-05-19 04:35] ismusidhu commented on #77
+1

[2016-05-31 14:49] laurentkempe commented on #75
@sharwell Where would you put those two checkboxes?

[2016-05-31 14:54] laurentkempe commented on #86
@zentby Any idea how would you do it, because I can't find a good way to do that from a UI point of view

[2016-06-02 11:38] laurentkempe commented on #86
Oh I did not realized on your screenshot you have selected some texts, and you would like to revert all changes included in that selection right?

[2016-06-20 21:48] darthwalsh commented on #83
I got the same error without ever installing Git Diff Margin, so it could be that the problem is in the base VS editor.

[2016-06-20 22:42] user1568891 commented on #83
I haven't gotten it in a while. I'll go ahead and close it. If I see it again I'll post.

[2016-06-20 22:42] #83 closed

[2016-06-28 10:55] Szelzz opened #99 "Stopped working with Visual Studio 2015 Update 3"
Extension stopped working (not showing margin) after installing Update 3. I'm using Visual Studio 2015 Enterprise 14.0.25421.03 Update 3.

Edit: Sorry this was a problem with my project visualstudio not recognize project is under source control when .git folder, .sln and project files are in same directory.

[2016-06-28 11:02] #99 closed

[2016-08-11 10:18] puna opened #100 "Add difference highlight into the popup"
Would it be possible to improve the change popup by highlighting what the changes were?
It would make the extension a lot more useful.

Now I have to compare both code blocks (old vs. new) manually, which gets too difficult very fast with increasing size of changed block.

[2016-08-11 12:55] laurentkempe commented on #100
It is possible but it is quite some effort. I think about since some time but didn't had the time to implement it.

[2016-11-17 12:07] laurentkempe opened #101 "Add support for Visual Studio 2017 RC"

[2016-11-23 08:32] Nezrahm opened #102 "Exception that kills the extension while loading a project"
I really like this extension but more often than not it seems to crash when opening up VS and loading a project. The message is this:

![image](https://cloud.githubusercontent.com/assets/8653358/20554666/bd1b7e02-b15d-11e6-803b-4ea1e84a71d6.png)

The error it's referring to is the following:

   at LibGit2Sharp.Core.StrictFilePathMarshaler.MarshalManagedToNative(Object managedObj)
   at System.Stu

[2016-11-23 08:38] Nezrahm commented on #102
Forgot to mention that I'm using Visual Studio 2015 (Update 3) and version 3.2.0.0 of the extension.

[2016-11-23 08:46] laurentkempe commented on #102
@Nezrahm Thanks for the report! Could you show me the path of your repository please?

[2016-11-23 08:51] Nezrahm commented on #102
There is nothing special about the path: The project resides in the folder C:\svnwork\tags\Tags1
And yes, this is a vanilla git repo even though the path mentions svn.

[2016-11-23 09:27] laurentkempe commented on #102
Are you using some other extensions which might use LibGit2Sharp, so something related to Git?

[2016-11-23 09:59] Nezrahm commented on #102
No, yours is the only thing related to Git (except for VS itself with the Team Explorer)

[2016-11-23 10:04] laurentkempe commented on #102
Thanks. Searching for that exception StrictFilePathMarshaler  in LibGit2Sharp I came to read someone asked for doing another clone of the repository. Do you experience this problem only with that particular repository or others? If it is only with that one, could you try to clone it again? I never have seen that error and without being able to reproduce it I am just in the fog at the moment, so yo

[2016-11-23 12:31] Nezrahm commented on #102
Ok, so I tried the following.

* Cloned a new repo, same problem.
* Downloaded the GitDiffMargin master branch and ran the debugger. The error occurs and in this instance were it running Repository.Discover with the path "C:\svnwork\tags\Tags2\Source\DatabaseConnections.config". The exception details:

  HResult=-2146233035
  Message=StrictFilePathMarshaler must be used on a FilePath.
  Source=Git

[2016-11-24 12:25] laurentkempe commented on #102
Thanks @Nezrahm I also found the thread in GitTools/GitVersion#720

I plan so and so to remove the usage of LibGit2Sharp and LibGit and to use the git command line like Microsoft is doing it in Visual Studio 2017 RC, so this at the end should solve your issue!

[2016-11-25 08:43] Nezrahm commented on #102
I just changed DiffMarginFactoryBase.TryGetMarginCore and added a try catch around GitCommands.GetGitRepository catching MarshalDirectiveException and returning null.

That seems to have solved/hidden the problem for me and that might be a short term solution.

Moving away from LibGit sounds like the proper way of handling it though.

[2016-11-25 10:26] laurentkempe commented on #102
@Nezrahm Could you provide a Pull Request?

[2016-12-09 15:05] ygoe opened #103 "Noticeable delay in long files"
I have to work with source code files that have some thousand lines to refactor them. When making changes to these files, it always takes a short time to update the diff bar, like half a second. During this time, no other input events are handled. So the editor becomes very stuttering and far from interactive with such files. I suspect that the diff computation happens on the UI thread of Visual S

[2016-12-09 15:31] laurentkempe commented on #103
Thanks for the report @ygoe to the best of what I can remember computation happens on the background and not on UI thread!

Do you have lots of changes in the file, because the update of the UI might be the problem, that cannot be done on the background!

[2016-12-09 15:35] ygoe commented on #103
That may be the case as well. I'll retry on another large file before making changes. Yes, my refactoring work involves reshaping large parts of these files, so there are many changes.

[2016-12-22 16:30] the-ress opened #104 "Breaks Edit.GoTo command"
1. Open a text file in VS 2015 (without Git Diff Margin installed)
2. Type `Edit.GoTo 5` into Command Window and press `Enter`
3. Cursor correctly jumps to line 5
4. Install Git Diff Margin
5. Type `Edit.GoTo 5` into Command Window and press `Enter`
6. Error appears in the Command Window: `Command "Edit.GoTo" does not accept arguments or switches.`

[2016-12-22 17:17] laurentkempe commented on #104
Wow @the-ress thanks for the report! I have never used the Command Window to go to a line! I can't see how Git Diff Margin could break that, but I will have a look, sorry for the annoyance.

[2016-12-22 18:00] the-ress commented on #104
I actually wanted to use it via `devenv.exe /Command`, to open a file at specified line, but there was another problem with it so I went with another solution. Still it might hit someone else (maybe with another command).

There's another extension that's causing this as well: [Open in External Browser](https://github.com/tunnelvisionlabs/OpenInExternalBrowser)

[2016-12-22 18:03] laurentkempe commented on #104
@sharwell Any idea what could be the problem?

[2016-12-23 13:43] sharwell commented on #104
I have no idea. That's super strange. Both of the extensions in question use my `TextViewCommandFilter` implementation.

I notice that the Go To Line (<kbd>Ctrl</kbd>+<kbd>G</kbd>) still works for me.

😕 I'm not able to reproduce this with just the Open in External Browser extension installed, so it does look to be something specific to Git Diff Margin.

[2016-12-23 13:53] laurentkempe commented on #104
Yep same here!

[2016-12-24 09:15] laurentkempe commented on #104
Thanks @sharwell I will try after Christmas with Git Diff Margin! Merry Christmas 🎄 🎄 🎄

[2016-12-26 23:57] sharwell commented on #104
@laurentkempe I was able to fix this in the end and submitted a pull request.

[2017-01-05 20:58] laurentkempe commented on #104
@sharwell I am trying to compile from your branch on Visual Studio 2017 RC and get the following compilation error, any clue?

1>  GitDiffMargin -> C:\@Projects\GitDiffMargin\GitDiffMargin\bin\Release\GitDiffMargin.dll
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Microsoft\VisualStudio\v15.0\VSSDK\Microsoft.VsSDK.targets(953,5): error : CreatePkgDef : error : Reflecti

[2017-01-05 20:59] laurentkempe opened #106 "Update to LibGit2Sharp v0.23"

[2017-01-05 21:29] laurentkempe commented on #104
Yes, it is quite weird. Nevertheless, I have it working on Visual Studio 2015 so no worries!

[2017-01-06 18:00] laurentkempe commented on #103
@ygoe Any news on that?

[2017-01-10 13:13] #106 closed

[2017-01-10 20:59] #74 closed

[2017-01-10 21:01] laurentkempe commented on #73
See https://github.com/madskristensen/WebEssentials2015/blob/master/appveyor.yml

[2017-01-10 21:01] laurentkempe opened #109 "Automate Azure Devops build to deploy release package to chocolatey"
Check if we can use

* https://github.com/jberezanski/ChocolateyPackages/tree/master/chocolatey-visualstudio.extension
* https://github.com/gep13/chocolatey-azuredevops

Old links for appveyor
* https://blog.agchapman.com/vsix-continuous-integration-using-cake-and-appveyor/
* https://blog.agchapman.com/vsix-continuous-delivery-using-cake-appveyor-and-myget/

[2017-01-10 21:16] laurentkempe commented on #104
@the-ress You can try the latest release 3.2.1 - https://github.com/laurentkempe/GitDiffMargin/releases/download/v3.2.1/GitDiffMargin.vsix

Please let me know if it fixes the issue for you

[2017-01-11 06:28] laurentkempe opened #110 "Update to LibGit2Sharp v0.23.1"
https://github.com/libgit2/libgit2sharp/releases/tag/v0.23.1

[2017-01-11 13:44] laurentkempe opened #111 "Fix issue to upload on the marketplace"
"This extension targets Visual Studio 2017 but was not built with an up-to-date VSSDK. Please make sure to update your references and try uploading again. Note: you'll also need to add Prerequisites to your extension.vsixmanifest."

[2017-01-11 20:37] #110 closed

[2017-01-11 20:54] laurentkempe commented on #94
Duplicates #101

[2017-01-11 20:54] #94 closed

[2017-01-11 20:57] laurentkempe commented on #87
@dezdechado I gave some more thought about using git.exe again after reading that Visual Studio 2017 while use git.exe in place of LibGit2Sharp. The problem I am facing is that getting live diff will not work with it!

[2017-01-11 22:15] xperiandri commented on #101
Have you examined new extension API improvements that allow to defer whole or partial extension loading to the stage when it is needed?

[2017-01-12 06:27] laurentkempe commented on #101
@xperiandri Not yet but @sharwell is having a look to update to latest SDK for Visual Studio RC. After that I will have a look!

[2017-01-12 07:16] laurentkempe commented on #101
I just merged the first step of the update done by @sharwell see #113

[2017-01-12 12:13] sharwell commented on #111
I would call this a duplicate of #101.

[2017-01-12 19:11] sharwell commented on #101
@xperiandri I don't believe this project will benefit from those API changes. The extension load is already triggered by the specific events where it is needed.

[2017-01-13 05:28] laurentkempe commented on #111
@sharwell #114 fixes the upload on the marketplace! I did not go to the end of the process cause I still have one question concerning installation targets!

[2017-01-14 12:00] #101 closed

[2017-01-14 12:16] #111 closed

[2017-01-16 09:35] ygoe commented on #103
I think you're right. I've tried it on a long file with only a few changes and there was no delay.

Would it be possible to detect such a delay from the extension and skip or delay the rendering in that case?

What's interesting is also that no such delays result from Visual Studio's own modified/saved bar (the yellow/green one). Maybe it generates more efficient geometries like combining multiple

[2017-01-16 12:25] laurentkempe commented on #103
I thought it would be faster to compute only the elements which are on the visible part, but then we would loose the part on the right bar!
So I am not sure at the moment, I need to reproduce your case to measure it and see what kind of solution we could have.
Do you have a sample file that you could share to see the problem? Do you get that issue often?

[2017-01-16 13:26] ygoe commented on #103
Yes, the scrollbar "map" is also useful. Also, your idea might move the delays from editing to scrolling.

I only saw this issue when refactoring the large files in that project. But it should be reproducible if you generate a file with ~5000 alternating lines, commit, then alter every second line. Macro recording and find/replace should do the trick quickly.

[2017-01-22 10:27] laurentkempe commented on #103
Ok I will try that kind of configuration, but honestly that's an edge case, we have at work some tests file with ~3500 lines but for sure we never alter every second line.
One way would be to disable Git Diff Margin on a file while editing it.

[2017-01-22 10:35] ygoe commented on #103
Altering every second line is just a demo pattern. My refactoring affected lots of places, not on contiguous lines, and I had lots of coloured spots in the diff bar.

How would I disable the diff bar on single files? Or is that just a feature idea?

[2017-01-22 10:37] laurentkempe commented on #103
It is just an idea at the moment. I see it as a button that you could place on the Visual Studio Toolbar

[2017-01-24 17:22] sharwell opened #115 "Fix installation in Visual Studio 2013 and earlier"
I suspect installation only works on systems with Visual Studio 2015 and newer installed. This is due to earlier versions not recognizing that the lowest installation target is **Microsoft.VisualStudio.Community**. See tunnelvisionlabs/MouseNavigation#13 for the original bug report drawing this to my attention, as well as the associated pull request for a solution.

:memo: Note that I'm currently

[2017-01-24 19:55] laurentkempe commented on #115
Ok let's see when you get feedback! Because I didn't hear anything about it with GitDiffMargin

[2017-02-09 09:24] glconti commented on #77
This is addressed in #116

[2017-02-10 11:40] jcansdale opened #118 "Make double-clicking on diff bar open `Show Difference`"
It is very handy having easy access to the editable diff window. It would be even better if I could simply double-click on the diff bar to get there! 😄

[2017-02-10 11:49] jcansdale commented on #100
I think being about to double-click to navigate to the diff view would give you almost the same functionality. If you have diff view set to show right side only, it would be pretty seamless.

BTW, I don't know if you've seen this:
https://github.com/jaredpar/EditorUtils#editor-hosting

It might be useful if you ever wanted to add syntax highlighting to the preview window?

I haven't used it myself

[2017-02-10 12:08] laurentkempe commented on #100
I put a star on the project some time ago but didn't had the time to look at yet. Now you get me excited to have a look to it!

[2017-02-10 21:29] anickle060193 commented on #115
I am unable to install an update for GitDiffMargin and receive the following error even though I am running Visual Studio Professional 2013:

![image](https://cloud.githubusercontent.com/assets/5424006/22844797/76c38de2-efa5-11e6-82ce-463cbf00d68f.png)

[2017-02-15 14:37] laurentkempe commented on #115
@sharwell Did you get some feedback?

[2017-02-15 15:03] sharwell commented on #115
@laurentkempe Yes, the feedback was that tunnelvisionlabs/MouseNavigation#14 did in fact fix the issue.

[2017-02-15 15:08] laurentkempe commented on #115
@sharwell just realized reading the issue! Thanks, will fix it for GitDiffMargin too then

[2017-02-15 15:23] #115 closed

[2017-03-15 09:21] Elderry opened #119 "Able to customize diff color"
Now the diff color is too light compared the old VS one, hope there's an option to config this.

[2017-03-15 11:13] laurentkempe commented on #119
Yes, as it is written on the read me "all colors configurable through Visual Studio Fonts and Colors options"

![image](https://cloud.githubusercontent.com/assets/272612/23945961/cceb7eae-0978-11e7-83ab-25e2728c5e16.png)

[2017-03-15 11:13] #119 closed

[2017-03-15 11:20] Elderry commented on #119
Sorry that I didn't find it, thanks!

[2017-03-16 07:27] laurentkempe commented on #119
now worries @Elderry

[2017-03-20 21:00] laurentkempe commented on #118
@jcansdale You might download a pre-version from [here](https://ci.appveyor.com/api/buildjobs/gxaf96ovhvm9888c/artifacts/GitDiffMargin%2Fbin%2FRelease%2FGitDiffMargin.vsix), you need to rename the .zip to .vsix and install it. You might need to uninstall the previous version if it is already installed.

Let me know what you think about it! Thanks

[2017-03-21 18:33] #118 closed

[2017-03-27 10:36] jcansdale commented on #3
That would be pretty awesome. 😄

[2017-03-27 10:46] jcansdale opened #123 "Add button to disable built in 'Track changes' bar"
Chances are that when I'm using GitDiffMargin, I won't want the build in 'Track changes' enables. Having both bars is confusing and cluttered.

![image](https://cloud.githubusercontent.com/assets/11719160/24352458/999357f8-12e1-11e7-8e85-035f21cb2612.png)

The problem is, it isn't necessarily obvious how to disable to built in 'Track changes' option. Even though I know the option exists, I still s

[2017-03-27 18:54] laurentkempe commented on #123
I am not a big fan of adding icons on the contextual menu, because this doesn't make it really contextual anymore.

[2017-03-28 03:12] sharwell opened #124 "Crash in GitDiffMargin"
The following issue was traced back to GitDiffMargin:
https://developercommunity.visualstudio.com/content/problem/34913/visusl-studio-crashes-after-clicking-on-line-in-fi.html

The following stack trace was provided with the crash report:

[code]

[2017-03-28 18:02] laurentkempe commented on #124
This issue is coming from Visual Studio developer community [report here](https://developercommunity.visualstudio.com/content/problem/34913/visusl-studio-crashes-after-clicking-on-line-in-fi.html)

[2017-03-30 12:41] laurentkempe commented on #124
As Stan Thomas wrote yesterday "@Laurent Kempe sure that's fine with me. Everything is working and I'm happy. Great extension and I've come to rely on it."

@sharwell What do you think abou this "Is it possible to stop the file(s) in question being removed when VS2015 is uninstalled but file is still needed in VS2017? Seems that this will be quite a common occurrence as people move across to VS201

[2017-03-30 12:41] #124 closed

[2017-03-30 13:30] sharwell commented on #124
@laurentkempe Thanks for looking into this more. It sounds like a bug in the way VS 2015 and/or 2017 handles dependent extensions. I'll see what I can find out.

It looks like this issue has only caused one crash (per the "submit crash report" that shows up after a crash).

[2017-03-30 13:36] sharwell commented on #124
Actually, the assembly in question is actually distributed as part of this project. [This attribute](https://github.com/laurentkempe/GitDiffMargin/blob/master/GitDiffMargin/Properties/AssemblyInfo.cs#L42-L45) is supposed to ensure this scenario doesn't occur.

[2017-04-05 12:32] MartinL0815 opened #125 "No changes shown in RC files?"
Hi,

I don't know, if this is a GitDiffMargin problem or a "global" VS2015 problem.

If I change a RC file, which is plain text (Unicode), why GitDiffMargin doesn't support it and does not show the changes?

Best regards,

Martin

[2017-04-05 12:35] laurentkempe commented on #125
Hi @MartinL0815

What are RC files?

Cheers

[2017-04-05 12:43] MartinL0815 commented on #125
RC files are "resource files", which define in C/C++ bitmaps, dialogs, menus, accelerators, strings, etc..
They are plain text and can be edited with the "Resource Editor" or with a source code editor.

[2017-04-05 16:07] laurentkempe commented on #125
Ok, I will have a look I also see that I don't see the change in .csproj of .net core project!

[2017-04-07 17:25] laurentkempe commented on #125
We can't see the change because while you use Edit .csproj, it is in fact a copy of the file that you see in Visual Studio; e.g. C:\Users\laure\AppData\Local\Temp\1sjsr3j5.250\WebApplicationTODELETE.csproj

[2017-04-07 17:33] laurentkempe commented on #125
@MartinL0815 Do you open the RC file with the Resource Editor or with the source code editor?

[2017-04-07 20:46] MartinL0815 commented on #125
I, we mostly edit the resource files (rc) in the source code editor. It's really seldom to use the graphical resource editor.

[2017-04-14 13:27] jbuedel opened #126 "Support `NextChange` and `PreviousChange` navigating through entire solution"
I bind GitDiffMargin.NextChange and GitDiffMargin.PreviousChange to short cuts so I can jump between my changes easily. However, it is limited to a single file. That is, once I hit the last change it just stops. I would like it to carry me through to the next change, if there is one, in whatever file that may be.

[2017-04-14 15:01] laurentkempe commented on #126
Yes this is by design

[2017-06-21 15:43] jcansdale opened #127 "Diff window complains that files have different encodings"
When using the `Show Difference` command, the diff window often complains that the files have different encodings.

![image](https://user-images.githubusercontent.com/11719160/27392689-32ab3572-569f-11e7-89c8-4d4ef9d452f1.png)

This is caused by one side having an explicit UTF-8 preamble and and the other side also being UTF-8, but not having the preamble. Visual Studio seems to treat files withou

[2017-06-21 19:18] laurentkempe commented on #127
Yeah I have seen that too! Trying your fix right now

[2017-06-21 19:25] #127 closed

[2017-06-22 13:01] SamuelEnglard commented on #124
Just updated to version 3.5.1.48 and getting this crash repeatedly.

[2017-07-01 14:16] sharwell opened #129 "Diff margin not shown when editing a project file"
**Steps to reproduce:**

1. In Visual Studio 2017, create a new project with the .NET SDK (or open an existing one such as the projects in [Microsoft/vs-threading](https://github.com/Microsoft/vs-threading/))
2. *Without unloading the project first*, right click on the project in **Solution Explorer** and select **Edit [Project file name]**

**Expected behavior:**

The diff margin is shown if the

[2017-07-14 14:25] #129 closed

[2017-08-02 17:59] kylepwarren opened #131 "refresh update bars after cli commit"
I pretty much always manage commit/branching/checkout at the command line - don't really feel like VS, or hardly any IDE, have very complete git integration.

Anyhow, I've noticed after I do a commit[at command line], I have to close and reopen VS for the GitDiffMargin[extremely useful plugin, thanks] update/refresh the bars/scroll bar area.

Is there something I can do to have to get the update/r

[2017-08-02 19:28] sharwell commented on #131
This should have been working for most repositories starting with version 1.1 (commit 40588d1c5f0eeeea286b9feddb5a342917419c12). Submodules should be supported as well since version 3.0.0 (#51).

[2017-08-03 01:26] laurentkempe commented on #131
@kylepwarren I almost only myself works with command line or external tool, and never had that issue! As @sharwell wrote this should work for long!

Do you have some special repository or a way we could reproduce that?

[2017-08-03 02:33] sharwell commented on #131
I also work *exclusively* with external tools, so I'm guessing the issue is something unique to this repository.

[2017-08-03 13:37] kylepwarren commented on #131
Nothing special that I can think of. It's just a local repo, no remotes or anything.
"git version 2.8.3"
using cygwin/putty to do git stuff.
Just tried again after replies, waited longer, same thing.
Green lines don't go away after commit.

[2017-08-04 01:42] laurentkempe commented on #131
@kylepwarren is the repo public?
I haven't used cygwin for years but I don't see why it would be a problem! @sharwell do you also use cygwin, any idea why it would cause an issue?

[2017-08-04 04:13] sharwell commented on #131
@kylepwarren Can you help us narrow this down?

1. Can you try Git for Windows command line and see if the same thing happens (see if it is Cygwin-specific)?
2. Does the same thing happen on other machines (see if it is something specific to one machine)?

[2017-08-04 04:19] sharwell commented on #131
:memo: I just tried using Cygwin (Git 2.1.1 there) and still wasn't able to reproduce the problem

[2017-08-04 12:55] kylepwarren commented on #131
I just tried doing a commit from the cmd.exe window, and the same thing happened. No update to green lines in VS. It sounds like it must be a problem with my VS settings. I checked in options > Environment > documents... "Reload modified files...", and "Detect when file is changed..." are checked. Trying to think what else might help... It's VS 2015...

[2017-08-04 14:11] sharwell commented on #131
@kylepwarren Can you post a screenshot of the green bars?

[2017-08-06 16:06] SLaks commented on #124
For anyone else getting this error (Could not load file or assembly 'Tvl.VisualStudio.Text.Utility.10, Version=1.0.0.0, Culture=neutral, PublicKeyToken=eb42632606e9261f' or one of its dependencies. The system cannot find the file specified), uninstalling, then re-installing GitDiffMargin fixed it.

[2017-08-07 19:48] mystcreater opened #132 "Problem with the rendering of international characters"
In the popup that shows previous code, the rendering of international characters is wrong.

As an example:
"La nouvelle clé" is displayed as "La nouvelle cl�"

[2017-08-08 02:12] mystcreater commented on #132
I resolved my problem changing the encoding from Western European codpage - Codepage 1252 to Unicode UTF-8 with Signature Codepage 65001

[2017-08-08 02:14] laurentkempe commented on #132
I was very much annoyed by this as I am French 😄 but never develop with French words. Nice that you could fix it.

[2017-08-08 02:14] #132 closed

[2017-08-08 02:42] mystcreater commented on #132
I've written this little piece of code to change the encoding of file which don't works with git diff or this adding:

[code]

[2017-08-08 02:46] sharwell commented on #132
If you have Visual Studio 2017 that has the C# Interactive Window, you can use this:

[code]

[2017-08-10 13:07] kylepwarren commented on #131
![gitdiff](https://user-images.githubusercontent.com/1758152/29171671-4de42f0a-7dab-11e7-94df-a6de1b563ee9.PNG)

[2017-08-10 14:07] sharwell commented on #131
I had a sneaking suspicion this was the issue. That bar is the built-in change margin, not Git Diff Margin. It shows lines changed since you last saved a file (yellow), or changed since you opened the file but already saved (green).

[2017-08-10 20:04] kylepwarren commented on #131
Ah, I see, inner lighter green line works as expected. I hope there is a way to hide the built-in one.

Thanks

[2017-08-10 20:07] laurentkempe commented on #131
Yes there is in the settings search for Track change

[2017-08-10 20:07] #131 closed

[2017-08-10 20:09] kylepwarren commented on #131
options > text editor > general - uncheck track changes. You can close this when ever.

[2017-09-11 15:14] fourpastmidnight opened #133 "Throws an `OutOfMemoryException`"
I had one instance of Visual Studio 2017 15.3.3 open with a rather large solution. I then opened another instance of Visual Studio 2017 15.3.3 to open another solution (but, another solution was not loaded).

I have been wondering why Resharper sometimes does not load in a newly opened instance of Visual Studio, so I checked the Activity Log and found this:

[code]

[2017-09-11 16:03] sharwell commented on #133
@fourpastmidnight If you open Event Viewer to the **Application** view, you should see an event for Windows Error Reporting. Look for one where in the General section, the P1 value is devenv.exe. Then copy everything below **Analysis symbol:** and paste it here.

[2017-09-12 21:13] fourpastmidnight commented on #133
@sharwell I checked my Event Viewer for the events you mentioned, but there was nothing recorded. I checked the entire day's worth of events--and just to be sure you didn't accidentally tell me the wrong event log, I also checked the System log. Nothing there either, though. (I was pretty sure that the Application log would be where I would find any such events, as you mentioned, but just wanted t

[2017-09-26 20:47] tpluscode opened #134 "Opening file changes its encoding"
Any file that I open with Visual Studio 2017 changes encoding from UTF-8 to us-ascii. I can confirm this in versions 15.3.3+. Looks like this

Before opening:
[code]

After opening:
[code]

Immediately after opening the margin indicates that entire file has changed even though git correctly recognizes changed lines. Git does however show the BOM character as being added. Confusing and annoying.

I

[2017-09-27 07:37] laurentkempe commented on #134
@tpluscode Do you know about [Fix File Encoding](https://marketplace.visualstudio.com/items?itemName=SergeyVlasov.FixFileEncoding)

I can't imagine this can be related because this is used only when you do a diff in the diff window!

Might be due to Visual Studio which add the BOM

Could you please try to uninstall GitDiffMargin and do the test with the file to see if the encoding is changed, beca

[2017-09-27 08:01] tpluscode commented on #134
Okay now I'm confused. I thought I'd nailed it yesterday but now whichever version I try it seems to work fine 😥.

However, it still highlights the entire margin as modified even though neither VS nor git detects any changes.

[2017-09-27 10:18] laurentkempe commented on #134
It is really GitDiffMargin displayed and not Visual Studio Track Changes ?

[2017-09-27 10:20] tpluscode commented on #134
Yes, definitely Git Diff Margin. Click it and entire file appears in the pop-up

[2017-09-27 11:29] sharwell commented on #134
@tpluscode Open the folder containing the file that was giving you problems. Then work your way from there to the root of the drive, looking in each folder for a file called **.editorconfig**. When you find it, look in that file for any lines starting with `charset`. Let me know if you find any.

[2017-09-27 12:43] tpluscode commented on #134
Thanks @sharwell for this suggestion. I don't use .editorconfig and there is no anywhere up the tree. Not sure where it would've come from.

But, maybe I can actually create one to enforce expected behaviour?

[2017-09-27 13:45] laurentkempe commented on #134
@tpluscode Do you use ReSharper?

[2017-09-27 13:46] tpluscode commented on #134
I do. Anything in particular I should look for?

[2017-09-28 04:34] laurentkempe commented on #134
@tpluscode Maybe you should look at [File Formatting Info window](https://www.jetbrains.com/help/resharper/2017.1/Reference_Windows_File_Format_Information.html) which would display if any editorconfig or others are modifying your file.

[2017-09-28 16:03] tpluscode commented on #134
![image](https://user-images.githubusercontent.com/588128/30977236-36d1f3ae-a477-11e7-97cf-766955d7d712.png)

[2017-10-19 14:16] martinskuta opened #135 "Unhandled AccessViolationException crashes Visual Studio"
Cannot really reproduce as the issue seems random, but it happens most of the time when visual studio is idle. Last time it crashed when I had just VS opened with a document with some changes and I locked PC for 5 minutes and when I came back unlocked pc and activated VS it crashed with the error log below, but it seems not really related to any specific action it crashed once just while working w

[2017-10-20 05:29] laurentkempe commented on #135
Thanks @martinskuta for the issue logging I will update to LibGit2Sharp 0.24.0 and LibGit2Sharp.NativeBinaries 1.0.185 and provide you a version to install so that you can try to see if the issue is fixed with those updates

[2017-10-20 05:39] laurentkempe commented on #135
Please @martinskuta, could you uninstall the current version you are using from Visual Studio.
Then, download the file in this comment, rename it to GitDiffMargin.vsix and double click it to install GitDiffMargin with the updated LibGit2Sharp.
[GitDiffMargin.vsix.zip](https://github.com/laurentkempe/GitDiffMargin/files/1400856/GitDiffMargin.vsix.zip)

Finally let me know if it solves the issue.
Th

[2017-10-20 08:51] laurentkempe commented on #135
Here is another one with a new GitDiffMargin version so that VS doesn't update it with the one from their servers [GitDiffMargin.vsix.zip](https://github.com/laurentkempe/GitDiffMargin/files/1401289/GitDiffMargin.vsix.zip)

[2017-10-20 09:09] martinskuta commented on #135
Now I get BadImageFormatException everytime. Wrong version of library? x64 instead of x86?

[2017-10-20 09:11] laurentkempe commented on #135
Exactly! 😢 I re-created one and changed it in the [previous comment](https://github.com/laurentkempe/GitDiffMargin/issues/135#issuecomment-338147077)

[2017-10-20 11:34] laurentkempe commented on #135
Let's hope that one works for you finally because I didn't had any crash here - [GitDiffMargin.vsix.zip](https://github.com/laurentkempe/GitDiffMargin/files/1401775/GitDiffMargin.vsix.zip)

[2017-10-20 18:48] #135 closed

[2017-10-27 20:41] sylveon opened #137 "Weird conflict with the MoeIde extension"
![image](https://user-images.githubusercontent.com/6440374/32124348-6f961704-bb35-11e7-8f0d-2871f46be204.png)
The background becomes transparent, making it unreadable, and you can see a kind of mini version of the editor window in background nesting another mini version of the editor
https://github.com/Meowtrix/MoeIDE

[2017-10-30 06:56] laurentkempe commented on #137
I never used MoelDE so I have no clue what is happening there.

[2017-11-23 12:53] MartinL0815 opened #138 "Bug or Feature Request: UI does not close on Escape"
Hi,

If I open the GitDiffMargin UI by clicking on to the margin, I would like to be able to close it using the escape key.

If this should be working already, something holds GitDiffMargin from receiving and reacting.
If not, I'd like to have this ability, so I don't have to click somewhere in the code to dismiss the GitDiffMargin UI.

Best regards

Martin

[2017-11-23 12:58] MartinL0815 opened #139 "Reverting all unsaved changes via GitDiffMargin, does not revert the changed flag of the file"
Hi,

Having a versioned file with unsaved changes and using GitDiffMargin to revert all single unsaved changes, does not revert the "unsaved" flag of this file.

I would expect, that having reverted/undone all unsaved changes in a versioned file, the file should have no need to be saved anymore and should not show the "unsaved" or "save-me" flag.

Am I wrong?

Best regards

Martin

[2017-11-23 15:16] MartinL0815 opened #140 "Feature Request: another keyboard shortcut to show diff at a change"
Hi,

There is already the ability to assign keyboard shortcuts to jump to the next or previous git related change.

Is there a chance to let the diff and the "floating" toolbar popup, while being with the text cursor within a change?

Best regards,

Martin

[2017-11-23 19:18] laurentkempe commented on #140
HI @MartinL0815

Good idea! I will see what we can do.

[2017-11-23 19:26] laurentkempe commented on #138
Hi @MartinL0815

The only way to hide the popup is to click with the mouse outside of the popup at the moment, but that would be a good combination with your other proposal #140

Cheers
Laurent

[2017-11-23 19:27] laurentkempe commented on #139
Hi @MartinL0815

That's weird, I never have seen that. What is your environment? Which version of GitDiffMargin?

Cheers
Laurent

[2017-11-23 22:21] MartinL0815 commented on #139
I work with VS2013 and VS2015, and privately with VS2017 community edition/express. But in all environments I use quiet a few extensions like VsVim, productivity power tools, etc.
The observed behavior occurred in 2013 and 2015. 2017 have to be tested by me.

[2017-11-24 11:57] MartinL0815 commented on #139
BTW - the GitDiffMargin version is 3.5.3.64.

[2017-11-24 17:24] MartinL0815 commented on #138
Since the floating toolbar or the popup should be able receive the Escape key, why not! ;)

[2017-11-27 20:29] laurentkempe commented on #139
Could you, please, do a screenshot of the problem to be sure I understand what you mean about the "unsaved" flag of this file?

[2017-11-28 11:57] MartinL0815 commented on #139
Here a document tab without **unsaved-changes** "flag":

![No unsaved-changes](https://user-images.githubusercontent.com/525700/33318478-12f094ce-d43b-11e7-9eb0-3d120ffe9df4.png)

Here a document tab with **unsaved-changes** "flag":

![unsaved-changes](https://user-images.githubusercontent.com/525700/33318541-3bc59e3a-d43b-11e7-9a7d-835a3fbc06f4.png)

If I edit a "document" and undo the changes, t

[2017-11-28 12:49] sharwell commented on #139
💭 I'm not sure it's even possible to fix this. The same thing occurs if you type a letter and then hit backspace.

[2017-11-28 23:11] laurentkempe commented on #138
I have a version working, I need some polish on it and some test, then I will publish it

[2017-12-05 20:42] #138 closed

[2017-12-26 11:46] laurentkempe commented on #140
This will be done with #142

[2018-01-26 10:54] DisasterMan78 opened #143 "Install Error: extension/package.json not found inside zip."
When installing from command palette `Extensions: Install from VSIX...`

VS Code responds with `Error extension/package.json not found inside zip.`

I would guess MS have changed the requirements for extensions if this wasn't needed before.

[2018-01-26 12:33] laurentkempe commented on #143
It is a Visual Studio extension not a VS Code one!

[2018-01-26 12:34] DisasterMan78 commented on #143
Oh right, sorry - didn't realise they weren't compatible.

Struggling to find similar for VS Code.

Apologies for wasting your time.

[2018-01-26 12:42] laurentkempe commented on #143
now worries @DisasterMan78

[2018-01-26 12:42] #143 closed

[2018-01-26 13:56] DisasterMan78 commented on #143
Oddly it seems to be working anyway...

[2018-02-02 10:28] DisasterMan78 commented on #143
I now realise, having done a new install of VS Code on another machine, that the reason it seems to work is because the feature is baked into  VS Code to begin with.

I just assumed it wouldn't be and went off looking for packages I would want in general without realising.

I now I feel a right prat... 😱

[2018-02-06 20:52] laurentkempe commented on #140
This is finally done with version 3.7.0! Download it [here ](https://github.com/laurentkempe/GitDiffMargin/releases/tag/v3.7.0) or wait that it get updated from Visual Studio!

[2018-02-06 20:52] #140 closed

[2018-02-20 18:03] ybilianskey opened #144 "Difference is shown in default VS diff tool, but not in small hint window as before"
[vsdiff.pptx](https://github.com/laurentkempe/GitDiffMargin/files/1741262/vsdiff.pptx)

[2018-02-21 11:00] laurentkempe commented on #143
@DisasterMan78 Yeah VS Code has this feature bundled into the product 😸

[2018-02-21 12:54] MartinL0815 opened #145 "VS2013: showing/discarding popup with keyboard doesn't give editor the focus back"
The new wonderful ability to raise the diff popup and to discard it again using hotkeys works in VS2015.
In VS2013 the editor doesn't get the focus back after hitting the Escape key. Thus I have to click into the editor to give it the focus back.
I don't know, if it makes a bit special … I use the VsVim extension.

[2018-02-21 14:23] laurentkempe commented on #145
@MartinL0815 I have no clue if it comes from VsVim extension, or not!

I don't have anymore VS2013 installed to try it, could you try it disabling VsVim please?

[2018-02-26 15:13] MartinL0815 commented on #145
Sorry for the delay!

I disabled the VsVim extension, but observed no change in the behavior.

I use a defined hotkey combination to raise the popup window, I use escape to get back to the text and the text editor does not have the focus, so I need to click into the editor to get the focus back.

[2018-03-02 10:00] sharky72 opened #146 "VS2017: Dramatically slow down VS editor if many changes in edited file or repository."
After upgrade GIT from 2.15 to 2.16 GitDiffMargin dramatically slow down VS editor if many changes in file or files. After disabling plugin performance restored.

[2018-03-03 23:41] sharwell commented on #146
@sharky72 can you submit a performance report using the instructions on https://aka.ms/reportPerf? Then reply back here with a link to the feedback you created.

[2018-03-11 10:29] laurentkempe commented on #145
@MartinL0815 I am back from vacations and will have a look to this, but as I do not have VS2013 installed I might ask you to test the patch, would that be ok for you?

[2018-03-11 10:30] laurentkempe commented on #146
I am back from vacations so sorry for the late answer.
@sharky72 Could you do what @sharwell proposed?

[2018-03-11 15:17] laurentkempe commented on #144
Thanks for the report @ybilianskey
What is this pptx? Could you attach a screenshot?

[2018-03-11 21:17] ybilianskey commented on #144
This is MS Office PowerPoint file with video capture. Actually, for some unknown reason disappeared feature returned back by itself, hence you may ignore this issue. Thanks

[2018-03-11 21:18] #144 closed

[2018-03-12 14:10] MartinL0815 commented on #145
Sure, I'll test the tries to fix this behavior on my system.

As comment: If I open the popup/toolbar with a hotkey, use the tab key to get to the "undo" button and apply the "undo", then I get back to the editor in the correct way, so that the editor has the focus.
Eventually an editor action, like setting the caret to the current offset may be enough to resolve this problem.

[2018-03-12 17:52] sharky72 commented on #146
I'm sorry but currently, do not have time. I'll make a report little later and send information to you when it's done. Thanks.

[2018-03-14 07:49] laurentkempe opened #147 "Update to LibGit2Sharp v0.24.1"
LibGit2Sharp v0.24.1
This is a security release fixing two issues. It updates libgit2's included zlib to 1.2.11, and includes a libgit2 fix for memory handling issues when reading crafted repository index files.

[2018-03-20 19:27] #147 closed

[2018-03-20 20:10] laurentkempe commented on #145
Great info! I cannot do what you propose at the moment cause the closing is completely handled on the View side, and there we do not have access to any Visual Studio objects. But with your hint, I will try to do it differently and hopefully it will solve it

[2018-03-21 17:52] thomasdr1958 opened #149 "An exception has been encountered"
I am getting an error using the newest 3.7.1.88 GitDiffMargin.  The activity log says that the file or assembly Tvl.VisualStudio.Text.Utility.10 could not be loaded.

[2018-03-21 19:32] laurentkempe commented on #149
Thanks for the issue report!
As written [in here](https://github.com/laurentkempe/GitDiffMargin/issues/124#issuecomment-320515952) "uninstalling, then re-installing GitDiffMargin fixed it."
Please could you try and let me know if it solves your issue?

[2018-03-22 07:20] laurentkempe commented on #149
I got the same crash this morning! I uninstalled, installed again and did not had the problem anymore. Sorry for the inconvenience.

[2018-04-04 17:42] alexramsey92 commented on #146
I'm having similar issues with lag of text typing in VS 2017 Community. Seems to be more prevalent with intellisense. Windows 10 Pro, VS 2017 V15.6.5. Just feels a tad slower. But enough to make me disable plugin.

[2018-04-05 14:10] #149 closed

[2018-04-05 14:12] laurentkempe commented on #146
@alexramsey92 Could you provide a [performance report](https://github.com/laurentkempe/GitDiffMargin/issues/146#issuecomment-370188802) like @sharwell asked?
Is your repository showing the issue public so that we could experience it ourselves too?

[2018-04-17 13:15] MartinL0815 opened #150 "I assigned a hotkey to "GitDiffMargin.ShowPopup", but using it crashes VS2015"
The version of GitDiffMargin is on my system 3.7.1.88.

The configuration of the keyboard shortcuts:
![the keyboard shortcut for "Show Popup"](https://user-images.githubusercontent.com/525700/38869773-49ef2dbe-423b-11e8-9a33-4eff3a14a3a0.png)

The tool tip of the "Show Popup" tool bar button (without keyboard shortcut):
![the "Show Popup" tool tip](https://user-images.githubusercontent.com/525700/

[2018-04-17 14:45] laurentkempe commented on #150
@MartinL0815 Thx for the report, do you have some stack trace?

[2018-04-18 11:25] MartinL0815 commented on #150
I have the chance to restart or to debug …

The exception details:

Message: An unhandled exception of type 'System.NullReferenceException' occurred in WindowsBase.dll
Additional information: Object reference not set to an instance of an object.`

The callstack from VS2015 debugging itself:

 	WindowsBase.dll!System.Windows.Threading.Dispatcher.LegacyInvokeImpl(System.Windows.Threading.DispatcherP

[2018-05-15 05:13] ricksladkey commented on #145
Using the debugger, I can confirm that the problematic code is in `PopupKeyboardBehavior.cs`:

[code]

When the popup is closed, it returns the focus to whoever loaded it, which in my case was the margin "button" (I clicked with the mouse on the pale green difference strip) with the name `diffControl`.

We really want the `_textView` to get the focus, but I didn't see an easy way to do that.

[2018-05-15 07:11] ricksladkey commented on #145
I don't know if this is any help, but you could probably locate the `ITextView` reliably from the visual tree: it's a sibling of the direct ancestor `LeftMargin`:

![image](https://user-images.githubusercontent.com/2680524/40041903-936834e6-57ed-11e8-9fd8-da593cb79a02.png)

[2018-05-15 07:14] ricksladkey commented on #145
Last idea (I promise!): Bind the escape key to a noop command, like `ReturnToEditor`, and then you can handle it in the controller logic.

[2018-05-16 17:05] laurentkempe commented on #145
You are right @ricksladkey the focus is returned to the button and all your proposals make sense so I think we will come to a fix 😸

[2018-05-17 20:29] laurentkempe commented on #145
@MartinL0815 @ricksladkey Could you please uninstall GitDiffMargin and re-install the version you can from [here](https://ci.appveyor.com/api/buildjobs/t2hodvkjld6oi76q/artifacts/GitDiffMargin%2Fbin%2FRelease%2FGitDiffMargin.vsix) and see if it fixes the issue in VS 2013 ?

[2018-05-19 19:31] MartinL0815 commented on #145
Dear Laurent,
I'll try at Tuesday, back at work.
Happy weekend
Martin
Martin Lemburg
Berlin / Germany
http://about.me/Martin0815

Am 17. Mai 2018, 22:29, schrieb Laurent Kempé:
@MartinL0815 @ricksladkey Could you please uninstall GitDiffMargin and re-install the version you can from here and see if it fixes the issue in VS 2013 ?

—
You are receiving this because you were mentioned.
Reply to this

[2018-05-22 14:32] laurentkempe commented on #145
@MartinL0815 Did you had time?

[2018-05-23 07:54] MartinL0815 commented on #145
Sorry Laurent, yes, I took the time just now and yes it seems to work!

[2018-05-23 08:08] MartinL0815 commented on #150
Hi Laurent,
I tested a bit, since I forgot to not show the popup using the keyboard:

1. Opening the popup the first time at one location, crashes VS2013 with a `System.NullReferenceException`
2. Opening the popup with the mouse the first time and repeating it using the keyboard without changing the "location", staying at the same difference, does **NOT** cause an exception
3. Changing to the next

[2018-05-23 08:17] laurentkempe commented on #145
@MartinL0815 Thanks a lot for the test, I will prepare a new version then!

[2018-05-23 10:55] laurentkempe opened #154 "Make AsyncPackage to Load VSPackages in the Background"
See https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-asyncpackage-to-load-vspackages-in-the-background

[2018-05-23 10:56] #145 closed

[2018-05-23 14:16] sharwell commented on #154
I can take a look at this. I meant to last time I was working in the code...

[2018-05-23 14:18] sharwell commented on #154
Oh, right, this project targets Visual Studio 2012+. IMO `AsyncPackage` is unnecessary overhead in this case. I'm considering implementing a backwards-compatible `AsyncPackage` as part of tunnelvisionlabs/vsbase which could be easily adopted by projects in the future without sacrificing compatibility.

[2018-05-23 16:20] laurentkempe commented on #154
According to the post "[Improving the responsiveness of critical scenarios by updating auto load behavior for extensions](https://blogs.msdn.microsoft.com/visualstudio/2018/05/16/improving-the-responsiveness-of-critical-scenarios-by-updating-auto-load-behavior-for-extensions/)" my understanding is that this will become mandatory!

There is a link to do it also for VS 2013!

Don't you think we coul

[2018-05-23 16:25] laurentkempe commented on #150
@MartinL0815 Did you tried also with the fixed version I provided in https://github.com/laurentkempe/GitDiffMargin/issues/145#issuecomment-390000783 to see if it still crashing in that case?

[2018-05-23 16:43] laurentkempe commented on #154
👍

Yeah then there is no need to remove it!

[2018-05-23 16:43] #154 closed

[2018-06-05 15:25] laurentkempe opened #157 "Update to LibGit2Sharp v0.26"

[2018-06-05 19:11] ricksladkey commented on #157
Sam will probably have a great answer, but doesn't supporting VS2012 for the extension mean you have to use .Net 4.5?

[Visual Studio - Creating Extensions for Multiple Visual Studio Versions](https://msdn.microsoft.com/en-us/magazine/mt493251.aspx?f=255&MSPPError=-2147217396)

[2018-06-05 21:07] laurentkempe commented on #157
It is exactly the kind of things I wanted to be sure about! @sharwell can you confirm this?

[2018-06-06 13:07] sharwell commented on #157
@laurentkempe .NET Standard 2.0 caused a bunch of problems even in VS 2017. We had to artificially downgrade Roslyn from 4.6.1 to 4.6 to avoid accidentally resolving some of its dependencies as .NET Standard 2.0. The complete answer is long and unpleasant but I'll try to get some additional information.

@ricksladkey You can still target earlier versions with a higher .NET Framework dependency, bu

[2018-06-06 13:09] sharwell commented on #157
@laurentkempe Here's at least one of the issues: dotnet/roslyn#26927

[2018-06-06 14:50] laurentkempe commented on #157
@sharwell thanks a lot for checking and for your answers, so we are kind of stuck with the old version of LibGit2Sharp now that it is a .NET Standard 2.0 library

[2018-06-08 04:52] ricksladkey opened #158 "Corruption reverting a change at the beginning of a file with a byte order mark"
Git diff hunks at the beginning of a file with a byte order mark (or BOM), include the BOM. Visual Studio, on the other hand, does not include the BOM in the buffer contents. Reverting such a change with GitDiffMargin causes two problems:

1) The BOM is effectively duplicated
2) The hunk still shows as an apparent spurious difference, because the BOM is invisible

BOM's are evil, but many files ha

[2018-06-08 17:09] RandScullard opened #159 "Use configured tab widths"
It looks like the difference popup always renders tabs with a width of eight spaces. It would be nice if it would use the tab width configured for the current file in Visual Studio. Then the indentation of the code in the popup would line up with the code in the editor. In this example, the tab width in the editor is three, so the code in the difference popup gets indented much more deeply:

![cap

[2018-07-05 08:39] MartinL0815 opened #163 "Encoding issue"
Dear Laurent,
I observed an issue, that seems to be an encoding issue.

In a comment in 1252 encode file was an umlaut "ö".
The block with the comment got changed and I used GitDiff Margin to restore the block.
After the restore the "ö" was replaced by "�".

Here a screenshot from the diff popup:

Do you need more information, I'll try to provide it!

Best regards

Martin

[2018-07-05 08:56] laurentkempe commented on #163
Thanks @MartinL0815 no I don't need more informations

[2018-08-07 16:16] ambiguousrocket opened #164 "Whole file highlighted as changed"
VS 2017 15.7.4

The margin of the entire file is highlighted in blue as soon as any change is made to the file, even if it's just adding a space. In some files, only parts of the file will be highlighted in blue though I haven't been able to identify a pattern with this.

![2018-08-07_17-12-43](https://user-images.githubusercontent.com/42182755/43788361-1e90319a-9a65-11e8-8496-bfd2713fca6e.gif)

H

[2018-08-07 18:16] ricksladkey commented on #164
The most likely explanation is that tabs or line endings are somehow being normalized when you make changes to the file. VsVim doesn't do this, but some other extensions do as well as Visual Studio itself in response to certain editorconfig settings.

Things to try:

- Perform the tests with VsVim disabled (`Ctrl+Shift+F12`)
- Check the file size on disk before and after adding a single character,

[2018-08-09 16:46] laurentkempe commented on #164
Thanks for the report @ambiguousrocket

Could you check if something the following issue #82 is the same problem?

[2018-08-09 17:52] laurentkempe opened #165 "Keyboard shortcuts not working"
Hey @sharwell since I merged #161 I created a release and when I install this release the keyboard shortcuts for NextChange, PreviousChange and ShowPopup aren't working anymore! I tried to reset the keyboard shortcuts in Visual Studio 2017 without luck.

If I load the GitDiffMargin project in VisualStudio 2017 and run in the experimental Visual Studio, there it works!

Any clue why this could happ

[2018-08-09 20:40] olegtk commented on #165
Try adding [ProvideBindingPath] to your package, [like in the sample](https://github.com/Microsoft/VSSDK-Extensibility-Samples/blob/master/Backwards_Compatible_Editor_Command/src/CommandDefinition/JoinLinesCommandPackage.cs#L22). It's currently required unfortunately.

[2018-08-10 11:47] sharwell commented on #165
@laurentkempe In my pull request, I didn't use `[ProvideBindingPath]`. I wasn't expecting it to get merged before confirming the approach I used fixed the issue. 😊 I'll send a new pull request to revert that change and try the second approach instead.

[2018-08-10 13:43] laurentkempe commented on #165
oh, sorry about my wrong understanding!

[2018-08-10 17:08] IcyViking commented on #137
@sylveon
I also had this extension conflict issue. The MoeIDE transparency causes some issues with the popup element. I'm no WPF expert, but I pulled the repo and edited the EditorDiffMarginControl.xaml file.

[code]

You can manually set the background here to whatever you want (black tends to be OK for dark themes). Rebuild the GitDiffMargin solution, uninstall the extension via Tools -> Extensi

[2018-08-11 09:38] #165 closed

[2018-08-11 10:03] laurentkempe commented on #154
@sharwell When I uploaded the 3.8.0 package on the marketplace, I'v got the following warning

Are you sure it is not needed?

[2018-08-11 23:58] sharwell commented on #154
You can assign this to me and I'll see if there's anything to do on it.

[2018-08-13 13:16] sharwell commented on #154
@laurentkempe I'm filing a bug to update that analyzer to stop reporting the warning for packages like this.

[2018-08-16 09:47] strandloper opened #169 "GitDiffMargin v3.7.1.88 crashes after VS 2017 15.8 update"
I have just updated Visual Studio 2017 to the new 15.8 version and on reopening my solution after the update the latest GitDiffMargin version 3.7.1.88 assembly fails to load due to FileNotFoundException. Here is the ActivityLog.

[ActivityLog.zip](https://github.com/laurentkempe/GitDiffMargin/files/2293209/ActivityLog.zip)

[2018-08-16 11:32] laurentkempe commented on #169
Could you update GitDiffMargin to 3.8.0 and tell me if it's fixing the issue, thanks!

[2018-08-16 11:47] strandloper commented on #169
Yes, the 3.8.0 version has corrected the problem.

[2018-08-16 11:47] #169 closed

[2018-08-25 10:33] laurentkempe opened #170 "Keyboard shortcut to show diff at a change works only on 1st line a change"

[2018-09-01 11:27] #137 closed

[2018-09-13 01:54] TeaDrivenDev opened #176 "Buttons on change tooltip goes missing"
I've just encountered this for the second time: The reset etc. buttons above the change tooltip simply stopped showing up.

![screenshot - 20180913034303](https://user-images.githubusercontent.com/2247219/45462390-e1751180-b707-11e8-9ad6-1da12dd57d8d.png)

The first time was maybe two weeks ago; I'm not sure if that was already after VS 15.8. The two occurrences were on different machines; this on

[2018-09-13 05:54] laurentkempe commented on #176
Thanks for the report @TeaDrivenDev
We have seen this issue too and we are still having a look from where it comes as written by @sharwell [on Twitter](https://twitter.com/samharwell/status/1039938743573131265)

[2018-10-04 00:03] cpowell commented on #176
Saw the same issue here with the latest update. Uninstalled/reinstalled the VSIX, things seem to be working as they should again.

[2018-10-06 08:42] ambiguousrocket commented on #164
Sorry for the late response!

I found out that the issue was only affecting certain branches. The line endings weren't being normalised. It was that the .gitattributes file in those branches had lind endings set to auto hence differences being flagged between the origin and the current file. Thanks for the help.

[2018-10-06 08:42] #164 closed

[2018-10-18 06:21] 3dsoft opened #177 "Can I save changed codes in txt file"
It would be nice to have the ability to save the changes to the current document or the entire document as a file.

[2018-10-21 06:54] laurentkempe commented on #177
Do you mean to save the diff file?

[2018-11-28 20:53] laurentkempe commented on #69
See if we can use https://github.com/gep13/chocolatey-vscode

[2018-11-28 21:17] gep13 commented on #69
@laurentkempe let me know if you have any questions.

[2018-11-30 16:45] laurentkempe opened #178 "Create a Azure DevOps build"
- [x] Replace #74 - Done with #181
- [x] Replace #73 - Done with #187

See
* https://marketplace.visualstudio.com/items?itemName=ms-devlabs.vsts-developer-tools-build-tasks & https://github.com/Microsoft/vsts-extension-build-release-tasks
* https://www.visualstudiogeeks.com/devops/continuous-build-and-deployment-of-visual-studio-extensions

[2018-11-30 21:21] laurentkempe opened #182 "F# support"
Git Diff Margin should also work with F# file!

[2018-11-30 21:40] laurentkempe commented on #182
In fact it is working!

[2018-11-30 21:40] #182 closed

[2018-12-11 17:21] KocourKuba opened #184 "3.9.0 cause an error in VS2017 during load project"
<entry>
    <record>861</record>
    <time>2018/12/11 17:13:45.466</time>
    <type>Error</type>
    <source>Editor or Editor Extension</source>
    <description>System.IO.FileNotFoundException: Could not load file or assembly &apos;Tvl.VisualStudio.Text.Utility.10, Version=1.0.0.0, Culture=neutral, PublicKeyToken=eb42632606e9261f&apos; or one of its dependencies. The system cannot find the file s

[2018-12-12 18:24] KocourKuba commented on #184
Yes. It solves. Thanks.

[2018-12-12 18:24] #184 closed

[2018-12-14 10:55] d07RiV opened #185 "Option to adjust colors"
The green bars look too bright and distracting in dark theme, would like an option to change the colors.

[2018-12-14 12:04] laurentkempe commented on #185
@d07RiV It is described [in the wiki](https://github.com/laurentkempe/GitDiffMargin/wiki#changing-git-diff-margin-colors)

[2018-12-14 12:04] #185 closed

[2019-02-20 07:13] laurentkempe commented on #157
I just realized yesterday that LibGit2Sharp went back to have also a version for .NET Framework in addition to the .NET Standard 2.0. But it seems that it is targeting the version 4.6.1 so it means that to use it we might need to drop support of some older version of Visual Studio?

[2019-02-20 13:27] sharwell commented on #157
@laurentkempe No, we can still target .NET 4.6.1 and support older versions of Visual Studio. It just means it's possible that a user needs to update the .NET Framework manually after installing Visual Studio before the extension works.

[2019-02-20 17:13] laurentkempe commented on #157
@sharwell Ok, I will verify all dependencies, I don't want to introduce .NET Standard one, so it should be good

[2019-02-22 14:43] #157 closed

[2019-02-23 09:06] #178 closed

[2019-02-23 10:50] laurentkempe opened #189 "Azure build/release process do no update ReleaseNotes url"
See https://github.com/laurentkempe/GitDiffMargin/blob/master/GitDiffMargin.Extension/source.extension.vsixmanifest#L10

This mean that someone clicking on the Visual Studio interface will end up to older version
![image](https://user-images.githubusercontent.com/272612/53285480-2eeab580-3761-11e9-96d5-10ba486da223.png)

[2019-02-23 11:30] laurentkempe opened #191 "Run NUnit test during the build on Azure DevOps"
Read about it on [Visual Studio Test task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops&viewFallbackFrom=vsts) and [Azure Pipeline (CI) run NUnit tests](https://developercommunity.visualstudio.com/content/problem/356966/azure-pipeline-ci-run-nunit-tests.html)

It might need to use [https://marketplace.visualstudio.com/items?itemName=NUnitDevelopers.NU

[2019-02-23 11:31] laurentkempe commented on #73
Using Azure DevOps now!

[2019-02-23 11:31] #73 closed

[2019-02-25 22:49] TeaDrivenDev commented on #176
I'm closing this. I think I saw the issue once per machine back then, and didn't have it at all on a recent new VS install, so it appears to have been transient and nothing serious.

[2019-02-25 22:49] #176 closed

[2019-02-26 12:14] HamRusTal opened #192 "After update to v3.9.1.37, “Show the diff” feature is unusable (VS 2017)"
I was using v3.9.0.0 in VS 15.9.7 (configured for C++ development) and everything worked great (thanks!).
Yesterday, VS auto-updated Git-related extensions (GitHub and GitDiffMargin), and after that whenever I open the Diff from GitDiffMargin's pop-up Actions menu, it **shows as if the original file is empty** and the entire text is added anew (both for C# and C++ projects). VS's **built-in Diff**

[2019-02-26 13:20] laurentkempe commented on #192
Thanks @HamRusTal to report that, I htink I just reproduced that this morning on my machine!

![image](https://user-images.githubusercontent.com/272612/53415446-8e4efc80-39d1-11e9-9007-566a4eeefb82.png)

I will have a look asap, hopefully this evening!

[2019-02-26 13:21] laurentkempe commented on #176
Thanks @TeaDrivenDev

[2019-02-26 18:21] HamRusTal commented on #192
Great!

Looking forward to your findings!

P.S.
Is this screenshot from VS 2019? In VS 2017, I don't have the vertical scrollbar in the left pane. Or is it the language (C#) that makes the difference?

[2019-02-27 09:32] laurentkempe commented on #192
Yeah it is VS 2019

[2019-02-27 12:51] HamRusTal commented on #192
In the meantime, is there any **API** in the Visual Studio for the extension to open exactly the **Git Diff** window/pane which opens from “Team Explorer - Changes”? It has a nicer looking tab name; also, I noticed that GitDiffMargin was diffing against the wrong “version” in a somewhat convoluted set-up (I'll report separately once I can reproduce it reliably).

[2019-02-27 12:53] HamRusTal commented on #192
In the meantime, is there any **API** in the Visual Studio for the extension to open exactly the **Git Diff** window/pane which opens from “Team Explorer - Changes”? It has a nicer looking tab name; also, I noticed that GitDiffMargin was diffing against the wrong “version” in a somewhat convoluted set-up (I'll report separately once I can reproduce it reliably).

[2019-02-27 17:16] laurentkempe commented on #192
I identified the issue but I cannot make sense of it!
The issue is that `relativepath` on [this line of GitCommands](https://github.com/laurentkempe/GitDiffMargin/blob/master/GitDiffMargin/Git/GitCommands.cs#L173) is of the form "path\\file.cs" and the indexer is having file indexed with "path/file.cs" so changing the code to `var indexEntry = repo.Index[relativePath.Replace("\\", "/")];` fix it.

[2019-02-27 17:18] laurentkempe commented on #192
Pls @HamRusTal open an other issue so that we do mix topics, thx

[2019-02-27 17:18] ethomson commented on #192
LibGit2Sharp did change its behavior at some point, but I don't remember when.  (Many years ago.)  If you moved from a very old version to something more recent then that could indefed be the culprit.

[2019-02-27 17:24] laurentkempe commented on #192
Thanks for the super fast answer @ethomson
I moved from [v0.24.1](https://github.com/libgit2/libgit2sharp/releases/tag/v0.24.1) from Mar 12, 2018 to [https://github.com/libgit2/libgit2sharp/releases/tag/v0.26](v0.26) from 13 days ago!
I looked at the LibGit2Sharp code and it seems that nothing changed in that area since at least two years!

[2019-02-27 17:37] ethomson commented on #192
Yes, I'm also surprised by this.

[2019-02-27 17:40] HamRusTal commented on #192
@laurentkempe Why I asked this here is because if there is such an API, it might make sense to use that instead of fixing your own implementation of the same functionality (which is not quite on par yet).

[2019-02-27 17:55] laurentkempe commented on #192
@HamRusTal We are using the same [VS API to show the diff](https://github.com/laurentkempe/GitDiffMargin/blob/master/GitDiffMargin/Git/GitCommands.cs#L225) and it is those are the same windows

See at the top the one from Changes and at the bottom the one from GitDiffMargin
![image](https://user-images.githubusercontent.com/272612/53511312-71452700-3ac0-11e9-9dfc-64ae48e4a4ea.png)

The name is dif

[2019-02-27 18:02] HamRusTal commented on #192
Great! I'll file the issues separately (sooner or later).

[2019-02-28 19:14] #192 closed

[2019-02-28 20:17] laurentkempe opened #194 "Align market place description and the one on github"
Update the [description in the vsixmanifest](https://github.com/laurentkempe/GitDiffMargin/blob/master/GitDiffMargin.Extension/source.extension.vsixmanifest#L6) with the one on Github - "Git Diff Margin displays live Git changes of the currently edited file on Visual Studio margin and scroll bar. Supports Visual Studio 2012 through Visual Studio 2019 Preview."

[2019-02-28 21:58] HamRusTal commented on #192
It works as before now, thank you!

[2019-03-01 13:35] jwidar commented on #82
Hello.

I'm having this issue today 1 march 2019, using the newest version 3.9.2.42 updated automatically by Visual Studio.

![image](https://user-images.githubusercontent.com/15267485/53641142-5a244780-3c2e-11e9-854a-dae2208e696b.png)
The only line I have changed in the file is the one marked in orange.
According to git, only that line is changed:
![image](https://user-images.githubusercontent.co

[2019-03-01 14:44] jwidar commented on #82
@laurentkempe
I got rid of the problem mentioned above by reverting to v3.9.0
If I install the one labeled security fix, the problem comes back.

[2019-03-01 21:43] mjmeli opened #195 "Files with CRLF have whole file highlighted as modified"
VS v15.8.8
GitDiffMargin v3.9.2.42

After a recent update, I'm seeing that the whole file is often getting highlighted as modified. This is similar to #82 and #164 but is a new instance as its happening after a recent update, plus those are closed, so I'd thought I'd open a new issue. I see a recent comment in #82 that this started happening after v3.9.1.

![image](https://user-images.githubuserco

[2019-03-02 09:47] laurentkempe commented on #195
Thanks @mjmeli for reporting the issue!
Would you have a public repo which would show the issue?

[2019-03-02 11:14] sharwell commented on #195
@mjmeli Can you post the contents of your **.gitattributes** file? Also, can you try running the following command from a clean checkout of your code (no changes in the working directory)?

[code]

After running this command, are there any files staged for commit?

[2019-03-03 00:27] gnudym commented on #195
I have the same issue.
Running `git add --all --renormalize` staged a few thousand .cs and .csproj files to for commit.
My **.gitattributes** only has `*.pdf binary`

[2019-03-03 00:43] TeaDrivenDev commented on #195
I'm seeing this too (in VS 2019 Preview 4), also only in some files, but a significant number. We have no `.gitattributes` file (I actually thought we did, but we don't), and as soon as I set `autocrlf = false` in my `.gitconfig` and reopen the document, I'm seeing the correct diff. Git itself, as well as Visual Studio etc. are always showing the correct diff.

`git add --all --renormalize` does i

[2019-03-03 01:22] gnudym commented on #195
@TeaDrivenDev I was about to add a similar comment about the issue being fixed after changing `autocrlf` from `true` to `false` but it seems like the issue came back again in some files

[2019-03-03 05:40] sharwell commented on #195
@gnudym You should be able to permanently resolve the issue regardless of the autocrlf setting by the following two steps:

1. Add `* text=auto` to your **.gitattributes**, similar to the one [used in this repository](https://github.com/laurentkempe/GitDiffMargin/blob/master/.gitattributes)
2. Run the renormalize command above, and commit the changed files

[2019-03-04 14:41] mjmeli commented on #195
I appreciate the workaround of normalizing line endings, but unfortunately this workaround won't work in my situation. To give some context, we regretfully have a large monolithic repository shared by the entire engineering department, so it wouldn't be appropriate for me to change the line endings in every file. Some developers also intentionally use different line endings. It's a mess but it is

[2019-03-04 17:07] jcansdale opened #196 "Could not load file or assembly Tvl.VisualStudio.Text.Utility.10"
I've seen this a couple of times when opening a solution.

![image](https://user-images.githubusercontent.com/11719160/53749731-ed17e880-3e9f-11e9-81b4-a1956c2eaddc.png)

GitDiffMargin v3.9.3.49
Visual Studio 2019 Preview 3

[code]

[2019-03-04 17:12] sharwell commented on #196
It's a(nother) bug in the Visual Studio component model cache. Uninstalling/reinstalling Git Diff Margin will fix it.

[2019-03-04 22:59] duncansmart commented on #195
Been looking at `GitCommands.GetGitDiffFor` under the debugger - it seems this line:

    var newBlob = repo.ObjectDatabase.CreateBlob(currentContent, relativeFilepath);

The `currentContent` that contains CRLF line-endings (as expected) gets converted to `newBlob` that contains just LF line-endings (?!), hence the diff shows that all lines have changed. So looks like LibGit2Sharp is to blame curr

[2019-03-04 23:39] TeaDrivenDev commented on #195
@duncansmart That, or libgit2 itself.

[2019-03-04 23:42] sharwell commented on #195
The library is behaving the same way Git does for a given user configuration. The only reason we are forced to use `CreateBlob` instead of direct diff is there are some really strange edge cases for when Git changes line endings in content.

[2019-03-05 01:45] mjmeli commented on #195
Yes, it's surely due to such an inconsistency. Looks like there were some changes recently to libgit2 with how it handles line endings in v0.28.0, and this issue started happening in GitDiffMargin v3.9.1 when libgit2sharp was updated. libgit2 is certainly behaving differently than Git. I'm not sure if it is ultimately a bug or correct behavior on libgit2's part, and I wasn't capable to dig deep en

[2019-03-05 11:35] duncansmart commented on #195
It seems like an issue with LibGit2Sharp not exposing a diff API that allows the **paths** of blobs to be passed through to allow git to retrieve the content with the appropriate line-endings ...

e.g If you do a `blob.GetContentStream(new FilteringOptions(relativeFilepath));` it calls `git_blob_filtered_content_stream` which normalises the line-endings. 👍

Whereas, if you call `blob.GetContentStr

[2019-03-05 12:39] duncansmart commented on #195
Hmmmnn, I've tried updating LibGit2Sharp to pass `relativeFilepath` down from `repo.Diff.Compare` through to libgit [git_diff_blobs](https://libgit2.org/libgit2/#HEAD/group/diff/git_diff_blobs) (note `old_as_path` and `new_as_path` params) to no avail 😢

[2019-03-05 13:45] sharwell commented on #195
@duncansmart The `CreateBlob` call has a rather substantial performance impact. If you do find a way to implement things without that call, it would be a big help. I just wasn't able to find one that didn't change the behavior. 😄

[2019-03-05 15:23] mjmeli commented on #195
I took an idea from the fix for #193 (9caca99) and applied this on the relativeFilepath passed to `CreateBlob`. @duncansmart mentioned that this call was converting CRLF line endings to LF line endings, which is why the diff between with this blob shows the whole file changing.

`relativeFilepath = relativeFilepath.Replace("\\", "/");`

This causes the `CreateBlob` call to return content with the

[2019-03-05 16:19] duncansmart commented on #195
That works on my machine too 👍 - you'd need to change `relativeFilepath.Split(Path.DirectorySeparatorChar)` to `relativeFilepath.Split('/')` later on too for the case-insensitive comparison (use `Path.DirectorySeparatorChar`, `Path.AltDirectorySeparatorChar` consts possibly)

[2019-03-05 16:38] laurentkempe commented on #195
@mjmeli Would you provide a PR so that we can have a look?

[2019-03-08 07:48] Samonitari commented on #195
I would also appreciate the hotfix.

Just ase you @mjmeli, I also work on a monolithic repo, with 17k (>20% of all) files having CRLF.
I will propose the we mix in some MacOS (only CR) and old QNX (RS) line endings as well, just for wider covarage 😉

[2019-03-09 08:59] #194 closed

[2019-03-09 09:42] #191 closed

[2019-03-09 09:51] #109 closed

[2019-03-11 21:41] duncansmart commented on #195
Hope you don't mind that I've submitted a PR @mjmeli

[2019-03-12 20:52] #195 closed

[2019-03-13 22:06] laurentkempe opened #200 "Cleaning dependencies"
@sharwell Any idea why you have added those two dependencies [Newtonsoft.Json](https://github.com/laurentkempe/GitDiffMargin/commit/29ae8a2b93c1dde9f5eada3827bde732bc9f934a#diff-80a82dee8ccca83fcce78f13b3006d88R40) and [StreamJsonRpc](https://github.com/laurentkempe/GitDiffMargin/commit/29ae8a2b93c1dde9f5eada3827bde732bc9f934a#diff-80a82dee8ccca83fcce78f13b3006d88R41)?

[2019-03-13 22:12] sharwell commented on #200
I'll clean dependencies and send a PR

[2019-03-13 22:26] sharwell commented on #200
Looks like everything is already clean. If you remove these references, you get the following build warnings:

[code]

[2019-03-14 07:02] laurentkempe commented on #200
Yeah weird, I don't know why we have those dependencies!

[2019-03-27 06:26] #200 closed

[2019-04-05 15:04] xperiandri opened #213 "Draft: Visual Studio 2019 RTM crashes on method parameter add/remove"
## Versions
 - Git Diff Margin version: 3.9.4.73
 - Visual Studio version: 2019 RTM

## What happened

[code]

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

### Screenshots

### Logs

### Additional context

[2019-04-05 15:23] laurentkempe commented on #213
Thx for reporting the bug @xperiandri
Could you extend the **Steps to Reproduce** with how you do to "on method parameter add/remove"

[2019-04-07 09:54] xperiandri commented on #213
Updated description

[2019-04-12 13:45] rostov-da commented on #131
For me solution problem - open window TeamExplorer (window Visual Studion for working with git).

[2019-06-03 09:38] pduus commented on #100
It could be the diff output with deletions and additions like

- printf("Hello World!\r\n");
+ Console.WriteLine("Hello World!");

[2019-06-04 06:23] laurentkempe commented on #100
Thanks for sharing the idea @pduus
We could think of having an advanced mode which would display it this way! Cause for normal users it might get confusing, and having a colored diff view might be better!

[2019-07-24 23:08] calvinhsia opened #240 "Leak EventHandler"
Analyzing 40 customer dumps

EvHandler | EvType | PctCabs | CabCnt | AvgNumEVH | MaxNumEVH | Notes | Link
-- | -- | -- | -- | -- | -- | -- | --
System.EventHandler   GitDiffMargin.Core.MarginCore.BrushesChanged +=   GitDiffMargin.ViewModel.ScrollDiffViewModel | MultipleEventHandlers | 1.2 | 40 | 277 | 1596 | https://github.com/laurentkempe/GitDiffMargin
System.EventHandler   GitDiffMargin.Core.Mar

[2019-07-31 17:47] laurentkempe commented on #240
Thx for the report @calvinhsia I will take a look at it!

[2019-08-03 13:20] kotauskas opened #244 "Deletion arrows are too big and bright"
For me, the deletion arrows feel very big, clumsy and too bright. Below is a comparison between GitDiffMargin and VS Code:
![GitDiffMargin's gutter indicators](https://user-images.githubusercontent.com/28248600/62373103-c1c62200-b541-11e9-8744-76d9a166b75c.png)
![VS Code's gutter indicators](https://user-images.githubusercontent.com/28248600/62373168-e621fe80-b541-11e9-9e21-49a31006d2fe.png)

The

[2019-08-04 07:58] laurentkempe commented on #244
Thanks for your feedback @kotauskas

You are having some good luck there, when you read the feature list it says "all colors configurable through Visual Studio Fonts and Colors options" so head there to configure the color you ❤

For the size, I will keep it in mind the idea of an option, but I always thought that the one from Visual Studio Code are too small and that you can hardly see those! But

[2019-08-04 07:58] #244 closed

[2019-08-07 15:31] #240 closed

[2019-08-21 15:28] laurentkempe opened #254 "Document Support 'diffMarginBase' from '.git/config' as from branch"
https://github.com/laurentkempe/GitDiffMargin/pull/155

[2019-09-24 07:02] LwServices opened #262 "Disable GitDiffMargin in Scrollbar"
Please add Config that could be possible to disable GitDiffMargin in Scrollbar

[2019-09-24 12:25] laurentkempe commented on #262
Thanks for the proposal @LwServices we already have one such requirements #75

[2019-12-02 23:45] BlueBayliss opened #281 "Error: Editing F# files is throwing an exception"
## Versions
 - Git Diff Margin version: 3.10.1.191
 - Visual Studio version: VS Professional 2019 v16.3.10

## What happened
When editing an F# file I always get the gold exception bar saying "An exception of type ArgumentException has been encountered. This may be caused by an extension. [Open log file]"

### Steps to Reproduce
Steps to reproduce the behavior:
1. Open an F# solution using *.fs fi

[2019-12-03 07:01] laurentkempe commented on #281
Thanks for reporting this @BlueBayliss I will have a look as soon as possible!

[2019-12-03 15:56] BlueBayliss commented on #281
Thank you for looking into this.
I did forget to mention one thing: The log above was from pushing the space bar once. Although the plugin seems to work fine after dismissing the gold bar error, the log continues to fill up with those 2 errors repeating when I'm actually working on something.

[2019-12-03 22:48] BlueBayliss commented on #281
While playing with the settings I found that disabling CodeLens for F# stops the error from happening.

[2019-12-08 09:01] laurentkempe commented on #281
Thanks for the great bug report 👍 I can reproduce the issue and without your hint about CodeLens I think I wouldn't have found it! I am on it now

[2019-12-10 21:26] laurentkempe commented on #281
Hey @sharwell any clue [why this line would fail ](https://github.com/laurentkempe/GitDiffMargin/blob/09d9b9ec854b53e2ccf8b494eb7d48c9d4c5686c/GitDiffMargin/EditorDiffMargin.cs#L83) in case of F#? I reproduced the issue with a simple F# console app!

[2020-02-23 14:17] TwentyFourMinutes opened #301 "Blurry text and low quality icons"
## Versions
 - Git Diff Margin version: 3.10.2.268
 - Visual Studio version: Microsoft Visual Studio Community 2019 Preview Version 16.5.0 Preview 3.0

## What happened
I am actually not sure, if this is issues is caused by the extension itself or something else on my side. Anyhow the text is pretty blurry, as seen in the image below. Additionally the icons are also very low quality, in terms of r

[2020-03-11 16:37] laurentkempe commented on #301
Thanks for the great report @TwentyFourMinutes
In fact, I am using bitmap icons, cause I don't have vector ones and I am not a designer...

[2020-03-11 22:19] TwentyFourMinutes commented on #301
These seem like icons from the Visual Studio Icon library, don't they contain vector version of them? If they do not have them, you need some?

[2020-03-13 22:01] laurentkempe commented on #301
Yes @TwentyFourMinutes as far as I remember those are icons from the Visual Studio Icon library!
And yes it seems that now in the 2019 Visual Studio Icon library, they have XAML ones 🎉
I will update the icon when I have a bit of time to work on that!

[2020-03-19 19:39] laurentkempe commented on #301
It start to work using Visual Studio icons!

![image](https://user-images.githubusercontent.com/272612/77107923-ad2b9100-6a21-11ea-937a-957e05d5cd32.png)

[2020-03-19 20:13] laurentkempe commented on #75
One way would be to have something like the [Options example](https://github.com/microsoft/VSSDK-Extensibility-Samples/tree/master/Options)

[2020-03-27 06:40] laurentkempe opened #312 "Telemetry"
Currently the statistics brought by Visual Studio Marketplace is only about the number of downloads. For example, there is no information about the Visual Studio version in which GitDiffMargin is installed.

**Describe the solution you'd like**
Use Azure Application Insight REST API to log the version of Visual Studio used.
See https://dev.applicationinsights.io/reference/post-metrics
Use API Expl

[2020-04-03 19:14] laurentkempe opened #313 "Blurry text"
## Versions
 - Git Diff Margin version: 3.10.2.268

## What happened
This follow #301 in which only the blurry icons were updated to look great!
The diff text displayed in the popup is blurry, see the screenshot below.

### Expected behavior
Sharp text.

### Screenshots
![image](https://user-images.githubusercontent.com/272612/78396713-21546000-75f0-11ea-9006-c2f3fc44e245.png)

[2020-04-03 19:18] laurentkempe commented on #301
- [ ] Fix usage for VS2012

See, "[What if my .vsct file also needs to be read by older versions of Visual Studio?](https://docs.microsoft.com/en-us/visualstudio/extensibility/image-service-and-catalog?view=vs-2019#how-do-i-use-image-monikers-in-a-vsct-file)"

[2020-04-03 21:08] TwentyFourMinutes commented on #301
Will close the issue once I can verify it later today.

[2020-04-04 06:40] laurentkempe commented on #301
It is ok, I will close it when I will merge the feature!

[2020-04-05 15:30] laurentkempe commented on #301
No more blury text 😄

![image](https://user-images.githubusercontent.com/272612/78502732-d3139e00-7762-11ea-8431-eb00f6d54ec7.png)

@TwentyFourMinutes Could you try it, [here](https://dev.azure.com/techheadbrothers/GitDiffMargin/_build/results?buildId=375&view=artifacts&type=publishedArtifacts) and let me know what you think, thanks!

[2020-04-05 15:31] laurentkempe commented on #313
Finally, will close it with #301

![image](https://user-images.githubusercontent.com/272612/78502821-4f0de600-7763-11ea-9bbd-e9fb331841c2.png)

[2020-04-05 15:31] #313 closed

[2020-04-06 19:26] TwentyFourMinutes commented on #301
Works great and every crisp clean as expected, good job!
![image](https://user-images.githubusercontent.com/36015290/78597170-4eea1500-784d-11ea-9a57-1964ca84b590.png)

[2020-04-20 08:44] laurentkempe opened #317 "Navigation using shortcut fails when in a collapsed region"
# Versions
 - Git Diff Margin version: 3.10.2.268
 - Visual Studio version: 16.5.4

## What happened
Trying to navigate using shortcut fails when in a collapsed region, the cursor stays where it is!
Using the popup arrows navigate to the next change, except if it is in the collapsed region. In that particular case, it navigate to the next change out of the region.

### Expected behavior
Navigate t

[2020-04-28 18:44] #301 closed

[2020-06-16 14:59] tsahi commented on #312
Why use REST API when you have a .NET SDK that will do it for you?

[2020-06-16 15:04] tsahi commented on #3
This may be added to VS soon: https://developercommunity.visualstudio.com/idea/443834/git-stage-selected-portion-of-file.html

[2020-06-16 15:19] laurentkempe commented on #312
I would like to hear more about it @tsahi which .NET SDK do you talk about?

[2020-06-16 20:19] tsahi commented on #312
You can start from here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/console. there is also a newer package specific for non-HTTP application, but I haven't used it: https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service

[2020-06-16 21:37] laurentkempe commented on #312
Thanks, but this bring too much dependency which would be bundled with Git Diff Margin! That's exactly what I want to avoid, especially with the very low need I have.

[2020-09-12 16:20] LuckyTil opened #350 "Add keyboard shortcut for "Rollback""
Add keyboard shortcut for "Rollback", please.

[2020-09-13 06:56] laurentkempe commented on #350
@LuckyTil At the moment, you can have a shortcut to open the popup and then navigate the option with the arrow keys.

Cheers
Laurent

[2020-10-29 12:55] EugeniyMaksimov opened #356 "Extension doesn't work in case of sparse checkout and partial clone"
Hello!

## Versions
 - Git Diff Margin version: .1.10.2.268
 - Visual Studio version: Microsoft Visual Studio Professional 2019
Version 16.7.6

## What happened
Change markers (yellow lines, red triangles) are not shown if the project is in the repository, where sparse checkout and partial clone git features are used.

### Steps to Reproduce
I have two repository, in regular one everything is fine

[2020-10-29 14:51] laurentkempe commented on #356
Thanks @EugeniyMaksimov for reporting it! I will have a look asap.
I guess the version of Git Diff Margin has a typo and you mean 3.10.2?

[2020-10-30 06:54] EugeniyMaksimov commented on #356
Thank you very much!
I've corrected the typo in the Git Diff Margin version.
I think, the Sparse Checkout is a great feature of Git, I believe, a lot of people will use it, especially when Git Hub supports it.

[2020-10-30 08:10] laurentkempe commented on #356
I just have seen on the documentation that

`THIS COMMAND IS EXPERIMENTAL. ITS BEHAVIOR, AND THE BEHAVIOR OF OTHER COMMANDS IN THE PRESENCE OF SPARSE-CHECKOUTS, WILL LIKELY CHANGE IN THE FUTURE.`

Nevertheless, could you give me an example of the command you are using on an existing repository which I could use to test?

[2020-10-30 08:45] EugeniyMaksimov commented on #356
`mkdir work
cd work
git clone -b <brunch> --filter=blob:none --no-checkout <fork repository name> .
git config core.sparsecheckout true
git sparse-checkout init --cone
git sparse-checkout set <folder1> <folder2>
git read-tree -mu HEAD
git remote add upstream <upstream repository name>
git fetch --all`

[2020-10-30 19:49] laurentkempe commented on #356
I tried the command you are listing but cannot make it work, imagine I would like to do it with this repo - https://github.com/laurentkempe/DynamicRun.git

If I try what you also tried

`git clone -b --no-checkout https://github.com/laurentkempe/DynamicRun.git`

I get the following

    Cloning into 'DynamicRun'...
    fatal: Remote branch --no-checkout not found in upstream origin

[2020-11-02 09:24] EugeniyMaksimov commented on #356
Hi Laurent,
This is a full listening of commands I used to clone the DynamicRun repository:

`PS C:\New folder> git clone -b master --no-checkout https://github.com/laurentkempe/DynamicRun.git .
Cloning into '.'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 92 (delta 4), reused 2 (delta 1), pac

[2020-11-03 16:49] laurentkempe commented on #356
Thanks @EugeniyMaksimov I could do a sparse checkout of DynamicRun now and can reproduce the issue that no changes are shown with Git Diff Margin. I also learned about something new.
I need to go deeper into why it is like that, but my first guess is that the https://github.com/libgit2/libgit2sharp/, which Git Diff Margin is using, is not supporting sparse checkout which seems quite new.

[2020-11-03 17:15] laurentkempe commented on #356
I can confirm that the issue comes from libgit2sharp

Git Diff Margin get an exception `unsupported repository version 1. Only versions up to 0 are supported.` while creating a `Repository` on [this line](https://github.com/laurentkempe/GitDiffMargin/blob/master/GitDiffMargin/Git/GitCommands.cs#L43).

So, I guess there is not much I can do about it!

[2020-11-05 09:30] EugeniyMaksimov commented on #356
Hello Laurent,
Thank you for the investigation!
I think the best idea in this case is to write an issue in the libgit2sharp project. Here it is: [](https://github.com/libgit2/libgit2sharp/issues/1845)

[2020-11-05 17:11] laurentkempe commented on #356
Hello Eugeniy
You are welcome, thanks for reporting it!
The issue is that libgit2sharp is [missing a maintainer](https://github.com/libgit2/libgit2sharp/issues/1833#issuecomment-706684298) so I do not expect too much from it.

[2021-01-18 09:45] miniyou commented on #356
Hi!

Git Diff Margin works for me in the main repo folder. However, I get nothing in the margin for projects that are in another work tree, i.e. added with `git worktree add …`. It seems plausible that this is for the same reason, but I'm not sure how to verify.

Git Diff Margin version: 3.10.2.268
VS Pro 2019 version: 16.8.2
Git version: 2.30.0.windows.2

_Ps. thanks for a great extension!_ ❤

[2021-01-18 10:25] laurentkempe commented on #356
Thanks @miniyou for your nice message! You can also add a star to the project on Github to show your recognition and on [Visual Studio Git Diff Margin marketplace](https://marketplace.visualstudio.com/items?itemName=LaurentKempe.GitDiffMargin)
Worktree are mentioned in #88 as I also use those from time to time and faced the same issue.

[2021-03-11 09:05] ite-klass opened #380 "Marketplace description says support is up to VS 2019 Preview"
On the [marketplace page of this plugin](https://marketplace.visualstudio.com/items?itemName=LaurentKempe.GitDiffMargin) the description says

The GitHub project description says up to VS 2019 _[no preview mentioned]_.

The store description seems confusing if not misleading/wrong and I assume should be corrected to drop Preview.

[2021-03-11 17:00] laurentkempe commented on #380
Thanks @ite-klass for taking the time to report this, very much appreciated!
I realized that lately and will fix it soon!

[2021-03-11 17:02] laurentkempe commented on #380
In fact, it is already fixed by @sharwell [there](https://github.com/laurentkempe/GitDiffMargin/pull/379/files#diff-2cf56e4c0a98c56ba5e691eac00f146fce56e8bcfc4c210f65df45870968cde3R6).
I will need to publish a new version to fix this.

[2021-03-13 17:25] laurentkempe commented on #380
It is now fixed! Thx
![image](https://user-images.githubusercontent.com/272612/111038477-79632b80-8429-11eb-93f2-eeeda8ca3002.png)

[2021-03-13 17:25] #380 closed

[2021-03-18 02:52] javier-goma opened #383 "Icons are missing from the popup window"
## Versions
 - Git Diff Margin version: 3.10.3.462
 - Visual Studio version:  Community 2019 - Version 16.7.3

## What happened
After a change, I wanted to see what was different from the previous commit and I realized that the icons were missing.
I thought it was a theme problem because I use a custom one but even with the VS standard one I see the same problem

### Steps to Reproduce
Steps to re

[2021-03-18 12:13] laurentkempe commented on #383
Thanks for @javier-goma for taking the time to report this.
I had a quick look with VS 20219 Pro - Version 16.9.1

![image](https://user-images.githubusercontent.com/272612/111624226-b47bab00-87eb-11eb-9d01-f76a13206598.png)

My guess is that it comes from ressources embedding, but I need to investigate.

[2021-03-18 17:13] javier-goma commented on #383
Hi @laurentkempe,

I just updated Visual Studio 2019 Community to version 16.9.2 and the icons are being shown

In case you agree, the bug can be closed

Thanks

[2021-03-18 17:23] laurentkempe commented on #383
Thanks @javier-goma

[2021-04-24 21:06] MarlonGamez commented on #123
It might be nice if this was just mentioned in the README somewhere. I had no idea what the option was called so I didn't really know where to look. Luckily I found this issue :) Thanks!

[2021-04-26 08:51] laurentkempe commented on #123
Thanks for the feedback @MarlonGamez
I updated both README for GitHub and VS Marketplace. You can already see the change on GitHub and on VS Marketplace it will be available with next release.

[2021-06-18 20:12] dlil opened #410 "VS crashing after update to 3.10.3"
## Versions
 - Git Diff Margin version: 3.10.3
 - Visual Studio version: VS 2013 (12.0)

## What happened
With Git Diff Margin v3.10.3, Visual Studio crashes when editing a line of source code. This appears to happen when Git Diff Margin should be updating the editor's left margin to show the modified line.

This issue does not occur with Git Diff Margin v3.10.2.

Not tested with Visual Studio ver

[2021-06-21 16:19] laurentkempe commented on #410
Thanks for the report @dlil
Could you share the logs, and tell us from which version you updated? Thanks

[2021-07-02 09:10] werat opened #414 "Failed to install the extension (VS 2017, VS 2019)"
## Versions
 - Git Diff Margin version: 3.10.3.462 (latest)
 - Visual Studio version: 2017 Professional (15.9.36), 2019 Professional (16.10.3)

## What happened
Cannot install the extension neither via the extensions manager in Visual Studio, nor by manually running the GitDiffMargin.vsix. The installer says "This extension is not installable on any currently installed products". See the screensho

[2021-07-02 11:40] laurentkempe commented on #414
Thanks for the report @werat

It is not working yet on VS 2022 preview 1 but @sharwell is working on it #401.

I also have VS 2022 preview 1 installed too and I can reproduce the issue. I have uninstalled Git Diff Margin from VS 20219 and tried to re-install it and got the same issue with the same log.

I might have to [revert that change](https://github.com/laurentkempe/GitDiffMargin/commit/cb718

[2021-07-02 14:01] laurentkempe commented on #414
@werat you can download a version which fix the issue from there [build artifact here](https://ci.appveyor.com/api/buildjobs/jnk03oth0gwf4uf5/artifacts/GitDiffMargin.Extension%2Fbin%2FRelease%2FGitDiffMargin.vsix)

I might do a real release later.

[2021-07-02 14:04] werat commented on #414
Thanks, this build works!

[2021-07-02 14:50] sharwell commented on #414
Interesting I'll take a look

[2021-07-02 15:42] sharwell commented on #414
Hi @werat, [this build artifact](https://ci.appveyor.com/project/laurentkempe/gitdiffmargin/builds/39848491/artifacts) should be installable in VS 2019 _and_ also work in VS 2022.

[2021-07-02 15:44] sharwell commented on #414
This was fixed by the changes to source.extension.vsixmanifest in 548b527392a6175fc6c3ea9a03a172828e14692b.

[2021-07-03 10:58] laurentkempe commented on #414
I tried it and could install it on VS 2022 preview 1 without any issues and it works like a charm @sharwell

[2021-07-03 11:10] laurentkempe commented on #414
I see now, [from the doc](https://docs.microsoft.com/en-us/visualstudio/extensibility/migration/update-visual-studio-extension?view=vs-2022#add-a-visual-studio-2022-target)

I will close this issue as this is now resolved with published [version 3.10.4](https://marketplace.visualstudio.com/items?itemName=LaurentKempe.GitDiffMargin), and it will be enhanced with the changes `[548b527](https://docs.

[2021-07-03 11:10] #414 closed

[2021-07-05 05:56] laurentkempe opened #421 "Issue publishing version for Visual Studio 2022 to Visual Studio Marketplace"
Here is the error

2021-07-05T05:50:37.5295813Z VSSDK: error VsixPub0029 : An error occurred while communicating with the marketplace: UploadFile: (Git Diff Margin) Target 'Microsoft.VisualStudio.Community' with version range '[17.0,18.0)' specifies 'x86' as the target product architecture, but Visual Studio 2022 and above only supports `amd64`.
2021-07-05T05:50:37.5298916Z UploadFile: (Git Diff M

[2021-07-05 06:42] laurentkempe commented on #421
I made a change with `[d862206d](https://github.com/laurentkempe/GitDiffMargin/commit/d862206d2352dd430d48e67886ff8092dd08de17)` and now get following

2021-07-05T06:39:43.2901518Z VSSDK: error VsixPub0029 : An error occurred while communicating with the marketplace: UploadFile: (Git Diff Margin) Target 'Microsoft.VisualStudio.Community' with version range '[17.0,18.0)' specifies 'x86' as the targ

[2021-07-05 06:45] laurentkempe commented on #421
Finally changed [bdb4167dd](https://github.com/laurentkempe/GitDiffMargin/commit/bdb4167dd90d4c1f97a6dec193765ca8692211ed) should fix it

[2021-07-05 07:01] laurentkempe commented on #421
This seems to be fixed now as artifact could be published on Visual Studio Marketplace.

[2021-07-05 07:01] #421 closed

[2021-07-06 20:30] sharwell commented on #421
Looks like a bug in the marketplace, but we can work around it.

[2021-07-07 15:52] gedri opened #425 "Extension fails to load with error System.IO.FileNotFoundException"
Started recently - not sure whether it started as result of extension upgrade or something else but it was working for me until recently.

## Versions
 - Git Diff Margin version: 3.11.5
 - Visual Studio version: Microsoft Visual Studio Professional 2019 Version 16.9.2

## What happened
Few seconds after VS loads with a solution, error bar appears with this message and the extension is not working:

[2021-07-08 06:50] Otiel commented on #383
After installing GitDiffMargin 3.11.5, I have the same issue using VS 2019 16.9.3.

[2021-07-08 10:45] cnotin commented on #383
I had the same problem with the same versions (GitDiffMargin 3.11.5 and VS 2019 Professional 16.10.3)
It fixed itself after disabling the extension, restarting VS, enabling, restart :)

[2021-07-08 10:52] Tum4ik opened #426 "Missing icons"
## Versions
 - Git Diff Margin version: 3.11.5
 - Visual Studio version: 16.10.2

## What happened
Action icons of the live changes are not displayed.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to C# file.
2. Make some changes.
3. Click on the change indicator to get the popup with previous code and actions (jump to prev change, jump to next change, rollback, etc).
4. See the i

[2021-07-08 12:31] Otiel commented on #383
That fixed it for me as well, thanks for the tip @cnotin

[2021-07-12 07:40] laurentkempe commented on #426
See #383 for a workaround

[2021-07-12 09:22] Tum4ik commented on #426
Yeah, thanks!

[2021-07-12 15:30] toughengineer commented on #383
Turning off and on again helped me as well.
All hail the sacred ritual!

[2021-07-13 08:04] EugeniyMaksimov opened #427 "Icons are invisible on dark theme"
Hi, on the Dark VS theme icons are invisible:
![image](https://user-images.githubusercontent.com/73174535/125414726-d34ea025-a414-4e36-ab8c-97f22353115a.png)

version: 3.11.5

[2021-07-13 12:32] EugeniyMaksimov commented on #427
Thank you very much, the workaround works!

[2021-07-13 12:32] #427 closed

[2021-07-16 07:11] m2nlight commented on #383
I tryed to reactivate gitmargindiff, then the icons are backed.
But, if run two vs2019(16.10.3) instance, it’s gone in second instance.

[2021-07-16 08:49] laurentkempe commented on #383
This is something we will need to have a look into!

[2021-07-21 06:08] LuckyTil opened #435 "It's annoying behaviour observed with Quick Search"
## Versions
 - Git Diff Margin version: 3.11.5
 - Visual Studio version: 16.10.4

## What happened
Hi,
It's annoying behaviour observed.

1. Use Quick Search in document for find some text.
2. Use keys to position to modified line due to Git Diff.
3. Press arrow key (Up or Down).
Cursor jumps and positions to line before or after last found by Quick Search.

Fix it, please!
Thanx!

[2021-07-23 09:14] Tum4ik commented on #426
Actually, it help only until the PC is rebooted. After that the icons disappear again.

[2021-07-23 11:56] laurentkempe commented on #426
Thanks @Tum4ik! Weird, this is something we will have to look at and we already have an issue for it, so closing that one!

[2021-07-23 13:11] Tum4ik commented on #426
ok, thanks.

[2021-07-23 13:11] #426 closed

[2021-07-23 13:45] sharwell commented on #383
Agree. I'll see what I can find out

[2021-07-23 14:33] laurentkempe commented on #383
I will try to have a look next week after vacations

[2021-07-23 17:50] sharwell commented on #196
This dependency was removed in a235aee94b537c41a70978efe5db3889df4490ef

[2021-07-23 17:50] #196 closed

[2021-07-23 17:53] sharwell commented on #425
Here's the formatted message:

[code]

[2021-07-28 03:14] eightbit11 commented on #350
It would be very convenient to have a shortcut key.

[2021-07-28 04:51] pmme commented on #410
Same happens in VS2012

[2021-07-29 18:03] laurentkempe commented on #350
I agree, it is just a question of time, you can also make a PR @eightbit11

[2021-08-04 20:13] #383 closed

[2021-08-04 21:01] laurentkempe commented on #410
Thx @pmme for the report!

`ActivityLog.xml` and `ActivityLog.xsl` should be in %APPDATA%\Microsoft\VisualStudio\11.0

[2021-08-04 21:40] pmme commented on #410
Hello Laurent,

Re-tried with 3.11, 3.10.3 and 3.12.1 from your releases page. All of them still exhibited the same problem.

None of the test runs just now wrote those two log files.

I had found those log files at the time of my original report but they didn't appear to contain anything useful about the crash, so I didn't know if they were the files you wanted.
I'm attaching the log files as the

[2021-08-05 17:19] LuckyTil opened #456 "Extension not activated when opened solution not having any opened documents"
## Versions
 - Git Diff Margin version: 3.12.1
 - Visual Studio version: 16.10.4

## What happened

Extension not activated when opened solution not having any opened documents.

### Steps to Reproduce

1. Start VS
2. Open solution.
3. Close All Tabs
4. Shutdown VS
5. Start VS
6. Open same solution
7. Open any source file
8. Start typing
9. --- Git Diff not react ---
10. Undo changes
11. Shutdown

[2021-08-07 08:42] laurentkempe commented on #410
Hello Paul

Thanks for the logs, unfortunately you are right there is nothing useful in it 😥
Look like I will need to find a version of 2012/2013 to see what is going on, which will take some time

[2021-08-10 21:01] JJCUBER opened #460 "Extension stopped working until disabling and reenabling (persisting through restarts)"
## Versions
 - Git Diff Margin version: 3.12.1
 - Visual Studio version: 16.10.2

## What happened

I noticed that the extension had stopped working for me (the sidebar/margin wouldn't show up).  This persisted through restarts of Visual Studio and my computer.

_I found that disabling the extension, restarting VS, reenabling the extension, then restarting VS again **fixed it**._  Thus far, I have

[2021-08-13 11:26] MartinL0815 commented on #425
Hi,
since some weeks I have the same issue with the FileNotFound exception.
While the margin still works, the hotkeys are disabled after the exception was raised.

My system is a bit different in the versions:
* Visual Studio 2019 16.9.3
* GitDiff Margin 3.12.1

The formatted exception text seem to be the same, so I don't provide it here.

[2021-08-13 21:12] ChuckM-Intel commented on #425
I'm having the same problem after upgrading Visual Studio 2019 to 16.9.3.
Hotkeys no longer work.

[2021-08-15 17:39] horeaper commented on #460
Found the same problem in 3.12.1 with VS 16.11, fixed with the same way.

[2021-08-20 09:37] ttvrdon opened #468 "CRLF mismatch - whole file shown as modified"
## Versions
 - Git Diff Margin version: 3.12.1
 - Visual Studio version: 16.10.2

## What happened
All modified files are shown as fully modified, may be because or CRLF mismatch?

### Steps to Reproduce
Steps to reproduce the behavior:
1. Change any file
2. See the whole border as blue

### Expected behavior
CRLF mismatch should be ignored

### Screenshots
![01](https://user-images.githubusercont

[2021-09-06 20:21] misterorlov commented on #425
After many months of suffering, I realized that I could manually install the previous version.
v3.10.2 works well now!
(It's a bit tricky to make the studio not update the extension right away. If it is updated, then you need to uncheck the "Automatically update" checkbox, then uninstall and install again from the .vsix file, then start VS and **quickly** uncheck the "Automatically update" checkbo

[2021-09-08 02:18] ChuckM2 commented on #425
I can confirm that old version v3.10.4 of GitDiffMargin works with Visual Studio 2019 ver 16.9.3, but GitDiffMargin version 3.12 does not work.

[2021-09-08 08:29] gedri commented on #425
Thanks @misterorlov & @ChuckM2 - that really helped me.
Just noticed that strangely, after installing 3.10.4, it shows in the Manage Extensions as 3.9.0.770, but the 'Release Notes' link goes to the 3.10.4 page...
Anyway, it now works correctly, so doesn't matter what version it thinks it is ;-)

[2021-09-24 09:29] ringzer opened #494 "VS 2019 Installation Error"
## Versions
 - Git Diff Margin version: 3.12.1
 - Visual Studio version: 2019

## What happened
Installation Error - This extension is not installable on any currently installed products

### Logs
24/09/2021 10:26:10 - Microsoft VSIX Installer
24/09/2021 10:26:10 - -------------------------------------------
24/09/2021 10:26:10 - vsixinstaller.exe version:
24/09/2021 10:26:10 - 16.7.3069
24/09/202

[2021-09-25 09:51] laurentkempe commented on #494
Thanks for reporting your issue @ringzer
First time I see such a problem 😕
Any clue @sharwell ?

[2021-09-25 19:08] ringzer commented on #494
I should clarify that I'm running Windows 10 on my company's network so it's entirely possible there is some unknown modification/restriction causing this.

However I have installed other VS extensions without issue. Often times things fail because external downloads are blocked for security reasons not it's not the case here.

The installation on my machine is managed by Windows App-V so perhaps

[2021-09-27 06:50] laurentkempe commented on #494
Thanks @ringzer I don't see anything to test more at the moment but if I get an idea I will get back to you

[2021-10-12 21:44] laurentkempe opened #507 "Try dogged"

[2021-10-12 21:44] laurentkempe commented on #507
https://github.com/dogged/dogged

[2021-10-15 04:58] laurentkempe opened #511 "Installer size"

[2021-11-04 15:37] theglobe commented on #460
I am experiencing this in VS 2015. Disabling and re-enabling does not fix this, neither does Uninstalling and re-installing.

I had documents open when I tried the above, so it seems not to be related to #456.

How can I troubleshoot this?

[2022-01-06 12:24] MartinL0815 opened #542 "Next/Previous function in tool bar and assigned to hot keys don't work"
## Versions
 - Git Diff Margin version: 3.12.1
 - Visual Studio version: VS2019 16.11.5, VS2022 17.0.3

## What happened

After activating the extensions tool bar I can't use the next/previous buttons, they don't have an effect, don't move the caret.

Using the assigned hot keys don't work, too.

Clicking onto a change in the margin, the next/previous buttons in the floating tool bar work perfectl

[2022-01-15 08:19] laurentkempe commented on #542
Thanks for taking the time to report this @MartinL0815

The next/previous toolbar buttons are working for me.
![devenv_x9Lsp7rq5O](https://user-images.githubusercontent.com/272612/149614887-70df444a-4d29-4e2b-831e-b468bc94b1bb.gif)

I can reproduce the issue on VS2022 17.0.2 and 17.0.5!

[2022-01-15 09:34] MartinL0815 commented on #542
Thanks @laurentkempe for your response!

Strange the next/previous buttons in the tool bar work for you.

First, the tool bar isn't available using the context menu of the tool bars. I need to open the customize dialog to make the tool bar visible.
But all buttons are inactive of disabled!

Since the hot keys don't work too, this ew would match.

But if the tool bar buttons work for you, the situa

[2022-01-15 09:54] laurentkempe commented on #542
I am confused, could you add a screenshot of what you are taking about so that I am sure, thanks

[2022-01-15 10:32] MartinL0815 commented on #542
For sure, but earliest on Monday.
So happy weekend!

[2022-01-17 13:59] MartinL0815 commented on #542
Hi @laurentkempe,

Here some screenshoots:

1. I try to activate the Git Diff Margin tool bar from the context menu of the tool bars, but the Git Diff Margin entry is missing:
![tool bars context menu](https://user-images.githubusercontent.com/525700/149781575-ab2143ab-6deb-45ef-bf05-ede59de174bd.png)
2. Then I open the customize dialog and find the Git Diff Margin tool bar entry here to activate

[2022-01-17 21:17] laurentkempe commented on #542
Hi @MartinL0815

Screenshots always help 👍🏼
I will to check but I am not sure the scenario is supported!
What does happen when you click on the margin diff, like I show on

[2022-01-18 06:54] MartinL0815 commented on #542
Good morning @laurentkempe,

The margin works like expected.

Clicking on a change let's pop-up the floating toolbar, which provides the expected functionality.

[2022-01-21 21:09] laurentkempe commented on #542
Hey @MartinL0815

Yeah, I see it like you not working. I never considered using it like that.
First, I mostly don't use the mouse, so I don't want to move my mouse that far from the context of something I want to see.
What would be better would be that you cannot activate that toolbar, which created some confusion to you apparently.

[2022-01-21 22:32] MartinL0815 commented on #542
Sorry, I'm not sure if I understand.

The hotkeys don't work, which is annoying working on the ViM mode (VsVim).

So I tried to use the toolbar … with the mouse … unlikely.
But the toolbar seems to be inactive, like there are no changes in the file i want to go through.

I don't understand where the confusion should come from.
Why should the toolbar not work if a file is open with changes in?

[2022-02-01 16:50] ybc37 commented on #542
I can confirm this issue (also with VS 2019 and VS 2022):

* Shortcuts do not work
* Toolbar does not work
* Buttons in the margin diffs work, though

I would love if the shortcuts would work. I'm also using VsVim and easily navigating to hunks makes a huge difference :smiley:

[2022-02-03 05:01] laurentkempe commented on #542
The confusion was on my side, I never thought of using the toolbar like you try to do!
To me Git Diff Margin, is all about the margin, so using it from there or shortcuts.
You are right @MartinL0815 if a user can display the toolbar, then it should just work from there too.

[2022-02-03 05:04] laurentkempe commented on #542
Thx for the confirmation @ybc37 It seems that one the latest updates of Visual Studio broke it. I would love to have more time that I could invest on it, but at the moment I cannot.

[2022-02-17 14:15] Cleroth commented on #542
I just found out about this extension and was hoping it could replace my external TortoiseGitMerge usage.
The way I optimize my usage on there is through hotkeys for Prev/Next Diff, as well as reverting (basically quickly cherry-picking lines/changes), which unfortunately due to this bug is currently not possible.

I have noticed however that after opening "Show Difference" in the margin popup, I

[2022-02-18 15:23] laurentkempe commented on #542
😢 Was the file big @Cleroth? I never realized such things myself, but maybe because I don't have huge files and yes, it is possible that there is a conflict with ReSharper. After removing it, did the problem disappear?

One of the features of GitDiffMargin was to let you double click on the margin to open the diff tool, if I remember it should open the diff tool configurer in your .gitconfig, but

[2022-02-18 17:59] Cleroth commented on #542
It's a 11k loc file, so I suppose relatively big.
The problem disappeared when I disabled GitDiffMargin. I tested 2 or 3 times. I did not try without Resharper.

I did like Rider when I tried it. Performance is great. Unfortunately the lack of ability to combine .cpp and .h into one tab (through TabsStudio extension in VS) is a showstopper for me. (I've made a [suggestion](https://youtrack.jetbrai

[2022-02-18 22:28] laurentkempe commented on #542
😵‍💫 Definitely!

I can imagine it comes from GitDiffMargin

[2022-02-19 15:40] LuckyTil commented on #542
Confirm under Visual Studio 2022 17.1.0

[2022-02-25 07:29] Ethan-Hall-1080 opened #569 "Not working in VS 2022 (Version 17.1.0)"
This extension works fine for me when using VS 2019, but does not work for the same Solution when using VS 2022.

![GitDiffMargin Issue](https://user-images.githubusercontent.com/93738475/155672752-811f23e2-d518-4c88-aa1b-de02aef0e937.png)

[2022-03-09 02:00] a4armaan commented on #569
Same here, Not working in VS 2022. Can anyone pls help on this?

[2022-03-20 21:28] Ethan-Hall-1080 commented on #569
I updated to Visual Studio version 17.1.1, and now the addon is working for me.

[2022-03-20 21:28] #569 closed

[2022-04-28 21:03] irontoby commented on #460
Same thing has just happened to me with VS 2022 Professional. I had a separate issue which caused me to run a "repair" on the installation. Afterwards, this extension is no longer working in one of my repos. I've tried disabling/re-enabling, uninstalling/reinstalling etc.

At first I also [ran into this issue](https://developercommunity.visualstudio.com/t/Git-Error-after-1714-update/10012565#T-N10

[2022-04-28 21:58] irontoby commented on #460
Update: I re-cloned my repo using Visual Studio instead of the command-line, and the extension worked with that copy. I then updated my Git for Windows to the latest version, re-cloned with CLI and that one worked too.

So it appears to be an issue with a repo that was cloned using an older version of Git. Still not sure what the issue is, but for anyone who has this issue I'd recommend updating y

[2022-05-04 19:56] PeterJeff commented on #146
I also noticed that the performance absolutely tanks the more diff items it has on open files (guestimating 200-300+ individual margin entries).  It occasionally gets to a point where I have to just stop and disable the plugin until after I commit.

I cannot submit a performance report from work but may be able to re-create it at home if I ever get around to it.

[2022-05-06 13:49] laurentkempe commented on #146
Yes, @PeterJeff 200-300+ diff is quite a lot, and the drawing is not optimized! One option would be to work on calculating only for the diff which are visible and virtualize the whole. This could be quite complex, so I avoided it.

Could you give some context about how do you end up with that amount of changes in one file?

[2022-05-06 14:15] sharwell commented on #146
I've definitely seen cases like that, but we worked to optimized them pretty well already. For this type of situation, the performance trace is the true conclusive data to get it identified and fixed.

[2022-05-11 07:38] laurentkempe commented on #146
In one file? 😮

[2022-05-28 19:38] izzyreal opened #624 "Not working Visual Studio 2022 17.2.2"
## Versions
 - Git Diff Margin version: 3.12.1
 - Visual Studio version: 17.2.2

## What happened
Installing the extension only makes the margin a bit wider. Other than that, I don't see that the extension is doing anything. Since this is the first time using the extension, I'm not entirely sure if I need to perform some special action in order to see something that the extension is doing.

I've a

[2022-07-17 14:18] Saragani commented on #624
Visual Studio 17.2.6 - Same thing.

[2022-07-22 07:15] Jeff-Hewlett opened #658 "Keyboard shortcuts for GitDiffMargin.NextChange & GitDiffMarginPreviousChange don't work"
## Versions
 - Git Diff Margin version: 3.12.1
 - Visual Studio version: VS 2019 and VS 2022

## What happened
The setting for the keyboard shortcuts for the extension can be seen on the Options->Environment->Keyboard. After assigning any shortcut to them, the shortcut still doesn't work. Nothing happened like nothing changed.

### Additional context
I found the extension is quite useful. If the b

[2022-08-26 07:57] maciey commented on #658
+1
Same here. I noticed all Git Margin toolbar commands are greyed out - maybe this is related

Jumping to next change in file is key to me - appreciate if this can be fixed :)

![obraz](https://user-images.githubusercontent.com/5410448/186852436-7121a186-0014-406b-ad87-7c4e6cf6d70d.png)

[2022-08-29 16:13] laurentkempe commented on #658
@Jeff-Hewlett Thanks for the report, this is a duplicate of #542
@maciey The toolbar is not supposed to be used, you should use the the thing on the margin! As you can read on #542

I will close that issue as it is already described and discussed on the other one!

[2022-08-29 16:13] #658 closed, assigned to nobody

[2022-08-29 16:42] maciey commented on #542
I'd like to move to next change using keyboard shortcut, not let side menu nor tool bar.
Below doesnt work to me.

How this can be done ?

![obraz](https://user-images.githubusercontent.com/5410448/187251525-f9ed4bd7-1b5b-40cd-bc80-f5ca88fcb427.png)

[2022-08-29 18:09] MartinL0815 commented on #542
Hi,

After trying a bit the new features about the the (in)line diff & Co.

I'd like to get GitDiffMargin back, working, with keyboard shortcuts to step through and open a simple diff, not that complicated on provided by VS2022.

If there is a chance to fix the problems, please do it!

Best regards

Martin